{% load staticfiles %}
<!DOCTYPE html>
    <head>
        <title>Hozyaushka</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="preloader">
          <div class="circle circle1"></div>
          <div class="circle circle2"></div>
          <div class="circle circle3"></div>
        </div>
        <div id="wrapper">
        <header>
            <nav id="header-menu">
                <ul class="nav nav-pills nav-fill ">
                    <div class="nav-phone-mobile">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col phone"><img src="{% static 'svg/phone-receiver.svg' %}"al=""><a href="tel:+380683456626">+38 (068) 345-66-26</a></div>
                                <div class="col phone"><img src="{% static 'svg/phone-receiver.svg' %}"al=""><a href="tel:+380730660061">+38 (073) 066-00-61</a></div>
                            </div>
                        </div>
                    </div>
                    <li class="nav-logo justify-content-around">
                        <a class="navbar-brand logo" href="{% url 'main' %}">
                            <img src="{% static 'img/logo.png' %}" alt="My image"/>
                        </a>
                        <div id="sandwichMenu" onclick="popOut(this)">
                            <div class="sandwchLine1"></div>
                            <div class="sandwchLine2"></div>
                            <div class="sandwchLine3"></div>
                        </div>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'furniture' %}">Мягкая мебель</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mattress' %}">Матрасы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'carpet' %}">Ковры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'price' %}">Цены</a>
                    </li>
                    <li class="nav-phone">
                        <div class="container">
                            <div class="col">
                                <div class="row phone"><img src="{% static 'svg/phone-receiver.svg' %}" alt=""><a href="tel:+380683456626">+38 (068) 345-66-26</a></div>
                                <div class="row phone"><img src="{% static 'svg/phone-receiver.svg' %}" alt=""><a href="tel:+380730660061">+38 (073) 066-00-61</a></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/callback.css' %}">
        <div class="callback hidden-xs">
            <a class="callback_link" data-toggle="modal" data-target="#hozCallBack">
                <div class="callback_block">
                    <div class="callback_a"></div>
                    <div class="callback_b"></div>
                </div>
            </a>
        </div>

        <!-- Modal -->
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="modal fade" id="hozCallBack" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog hoz-modal-dialog-callback" role="document">
                    <div class="modal-content hoz-modal-content-callback">
                        <div class="modal-header hoz-modal-header-callback">
                            <button type="button" class="close hoz-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body hoz-modal-body-callback">
                            <h5 class="modal-title hoz-modal-title-callback" id="exampleModalLabel">Оставьте номер телефона
 и мы Вам перезвоним!</h5>
                             <div class="col justify-content-center">
                                 <div class="row justify-content-center phone"><img src="{% static 'svg/phone-receiver.svg' %}" alt=""><a href="tel:+380683456626">+38 (068) 345-66-26</a></div>
                                 <div class="row justify-content-center phone"><img src="{% static 'svg/phone-receiver.svg' %}" alt=""><a href="tel:+380730660061">+38 (073) 066-00-61</a></div>
                             </div>
                            <div class="container hoz-form-container-callback">
                                <div class="row justify-content-center">
                                    {{ form_callback.name }}
                                </div>
                                <div class="row justify-content-center">
                                    {{ form_callback.phone }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer hoz-modal-footer-callback row justify-content-center">
                            <button type="submit" class="btn btn-primary hoz-btn">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% block content %}
        {% endblock %}
        <footer>
            <nav>
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="navbar-brand logo" href="{% url 'main' %}">
                            <img src="{% static 'img/logo.png' %}" alt="My image"/>
                        </a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'furniture' %}">Мягкая мебель</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mattress' %}">Матрасы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'carpet' %}">Ковры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'price' %}">Цены</a>
                    </li>
                    <div class="nav-phone-mobile">
                        <div class="container">
                            <div class="row">
                                <div class="col phone"><img src="{% static 'svg/phone-receiver.svg' %}" alt=""><a href="tel:+38 (068) 345-66-26">+38 (068) 345-66-26</a></div>
                                <div class="col phone"><img src="{% static 'svg/phone-receiver.svg' %}" alt=""><a href="tel:+38 (073) 066-00-61">+38 (073) 066-00-61</a></div>
                            </div>
                        </div>
                    </div>
                    <li class="nav-item nav-links">
                        <div class="container">
                            <div class="row justify-content-end">
                                    <a href=""><img src="{% static 'svg/facebook.svg' %}" alt=""></a>
                                    <a href=""><img src="{% static 'svg/instagram.svg' %}" alt=""></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="row justify-content-center align-items-center copyright">
                Created by <a href="//quarnuts.com"><img src="{% static 'svg/qn.svg' %}" alt="Quarnuts"></a>
            </div>
        </footer>
        </div>
        <script src="{% static 'js/jQuery.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
        <script src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/preload.js' %}"></script>
    </body>
</html>
