{% extends 'hoz/base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Хозяюшка</title>
{% endblock %}
{% block description %}
    <meta name="description" content="LOREM">
{% endblock %}
{% block content %}
<section class="carpet">
    <h1>Химчистка ковров и ковролина на дому!</h1>
    <h2>Чистка ковров, ковролина и ковровых изделий</h2>
    <div class="row row-carpet">
      <div class="col">
        <div class="carpet-block">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
      <div class="col">
        <img class="rounded block-img" src="{% static 'img/carpet.png' %}" alt="carpet">
      </div>
    </div>
    <div id="carpet-second-screen">
      <h3>Стоимость клининг услуг ковров и ковролина</h3>
      <div class="carpet-table">
        <div class="row">
          <div class="col">
            <p>Шелковый</p>
          </div>
          <div class="col second-table-col">
            <p>80 грн кв метр</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Шерстяной</p>
          </div>
          <div class="col second-table-col">
            <p>40 грн кв метр</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Ковер, синтетика, низкий ворс</p>
          </div>
          <div class="col second-table-col">
            <p>40 грн кв метр</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Ковер, синтетика, средний ворс</p>
          </div>
          <div class="col second-table-col">
            <p>40 грн кв метр</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Ковер шеги лохматый</p>
          </div>
          <div class="col second-table-col">
            <p>45 грн кв метр</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Ковролин средний ворс </p>
          </div>
          <div class="col second-table-col">
            <p>45 грн кв метр</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Ковролин высокий ворс </p>
          </div>
          <div class="col second-table-col">
            <p>45 грн кв метр</p>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/carpet.css' %}">
{% endblock %}
