{% extends 'hoz/base.html' %}
{% load staticfiles %}
{% block meta %}
    <title>Профессиональная химчистка мягкой мебели на дому в Одессе</title>
    <meta name="description" content="Одесская химчистка 'Хозяюшка'. Выездная химчистка на дому в Одессе.Чистка мягкой мебели, матрасов,кожаных диванов и кресел.Звоните нам (073) 066-00-61 #чисткамягкоймебели">
{% endblock %}
{% block critical %}
    <style>
      .furniture {
        padding-top: 100px;
        text-align: center;
        font: #333333;
      }

      .furniture h1 {
        padding-top: 4.2%;
        font-size: 36px;
      }

      .furniture h2 {
        padding-top: 1.5%;
        font-size: 24px;
      }

      .row-furniture {
        margin: 2.6% 0 2.4% 0;
      }

      .furniture-block {
        height: 100%;
        margin-left: 5.8%;
        border: solid 2px #131313;
        font-size: 20px;
        text-align: left;
        padding-left: 2.9%;
        padding-right: 4.3%;
      }

      @media only screen and (min-width : 320px) and (max-width : 480px) {
          .furniture h1 {
            padding: 4.2% 5% 2% 5%;
          }

          .furniture-block  {
            width: 90%;
            font-size: 15px;
          }

          .block-img {
            margin-top: 20px;
            width: 306px;
            height: 172px;
          }

          .row-furniture {
            margin-top: 4%;
            margin-bottom: 2%;
          }

          .furniture p {
            padding-top: 1%;
            font-size: 17px;
          }
      }

      @media only screen and (min-width: 481px) and (max-width: 767px) {
        .row-furniture {
          padding: 5%;
        }

        .furniture-block {
          margin-left: 3%;
        }

        .block-img {
          padding-top: 2%;
        }
      }
    </style>
{% endblock %}
{% block content_ru %}
<section class="furniture">
    <h1>Химчистка мягкой мебели на дому!</h1>
    <h2>Чистка диванов, кресел и кожаных изделий</h2>
    <div class="row row-furniture">
      <div class="col">
        <div class="furniture-block">
          <p>В Одессе самый распространенный, лучший вид химчистки - это влажная, глубокая чистка диванов.
            Работаем под гарантию. Наша работа дает 99% положительного результата. Полное выведение неприятных запахов с вашего изделия. При необходимости специалисты очистят любую другую обивку.
            Удаляем все пятна, разводы от пролитого.
            Закажите нашу услугу и мы от очистим вашу мягкую мебель до магазинного состояния.
            Мы выгодно отличаемся от всех наших конкурентов. Мы не завышаем цену в процессе труда. Она посчитана и озвучена в телефонном разговоре.
            Мастер приезжает со всем необходимым оборудованием и производит чистку дивана на месте.</p>
        </div>
      </div>
      <div class="col">
        <img class="rounded block-img" src="{% static 'img/furniture.png' %}" alt="Furniture">
      </div>
    </div>
    <div id="furniture-second-screen">
      <h3>Стоимость услуг мягкой мебели на дому</h3>
      <div class="caption-light">
        <h4>Акции от Хозяюшки<br>
          <span>каждому клиенту подарок!</span><br>
          При заказе на сумму от 1000 грн скидка 10%</h4>
      </div>
        <div class="furniture-table">
          <div class="row">
            <div class="col">
              <p>Кожаный диван угловой большой с подлокотниками<br/> (+ посадочное место - 200 грн)</p>
            </div>
            <div class="col second-table-col">
              <p>1250 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кожаный диван угловой небольшой</p>
            </div>
            <div class="col second-table-col">
              <p>1000 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кожаное кресло</p>
            </div>
            <div class="col second-table-col">
              <p>250 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кресло нераскладное</p>
            </div>
            <div class="col second-table-col">
              <p>150 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кресло раскладное</p>
            </div>
            <div class="col second-table-col">
              <p>250 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кресло двухместное  </p>
            </div>
            <div class="col second-table-col">
              <p>350 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Стул компьютерный</p>
            </div>
            <div class="col second-table-col">
              <p>50 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кресло в кинотеатре</p>
            </div>
            <div class="col second-table-col">
              <p>50 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Диван стандартный, угловой, пятиместный</p>
            </div>
            <div class="col second-table-col">
              <p>850 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Диван угловой, большой</p>
            </div>
            <div class="col second-table-col">
              <p>1000 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Еврокнижка, выдвижной</p>
            </div>
            <div class="col second-table-col">
              <p>500 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Еврокнижка, нераскладной</p>
            </div>
            <div class="col second-table-col">
              <p>400 грн</p>
            </div>
          </div>
      </div>
    </div>
</section>
{% endblock %}
{% block content_ua %}
<section class="furniture">
  <h1>Хімчистка м'якой мебелі на дому!</h1>
  <h2>Чистка диванів, крісел та кожаних виробів</h2>
  <div class="row row-furniture">
    <div class="col">
      <div class="furniture-block">
        <p>В Одесі найпошіреніший, найкращий вид хімчистки - це волога, глибока чистка диванів.
          Працюємо по гарантії. Наша робота має 99% позитивного результату. Повне виведення неприємних запахів з Ваших
          виробів. При необхідності, фахівці очищуют будь-яку іншу оббивку. Видаляємо всі плями, розводи від
          пролитого. Замовте нашу послугу и ми очистимо ваші м'які меблі до магазинного стану.
          Ми вигідно відрізняємося від усіх наших конкурентів. Ми не завищуємо ціну в процесі роботи.
          Вона буде порахована та озвучена у розмові по телефону. Майстер пріїжджає з усім необхіднім обладнанням та
          проводе очищення диванів на місці.</p>
      </div>
    </div>
    <div class="col">
      <img class="rounded block-img" src="{% static 'img/furniture.png' %}" alt="Furniture">
    </div>
  </div>
  <div id="furniture-second-screen">
    <h3>Вартість послуг м'яких меблів на дому</h3>
    <div class="caption-light">
      <h4>Акціі від Хозяюшки<br>
        <span>кожному кліенту подарунок!</span><br>
        При заказі на суму від 1000 грн знижка 10%</h4>
    </div>
      <div class="furniture-table">
        <div class="row">
          <div class="col">
            <p>Кожаний диван угловий великий з підлокітниками<br/> (+ посадочне місце - 200 грн)</p>
          </div>
          <div class="col second-table-col">
            <p>1250 грн</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Кожаний диван угловий невеликий</p>
          </div>
          <div class="col second-table-col">
            <p>1000 грн</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Кожане крісло</p>
          </div>
          <div class="col second-table-col">
            <p>250 грн</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Крісло нерозкладне</p>
          </div>
          <div class="col second-table-col">
            <p>150 грн</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Крісло розкладне</p>
          </div>
          <div class="col second-table-col">
            <p>250 грн</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Крісло двомісне</p>
          </div>
          <div class="col second-table-col">
            <p>350 грн</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Стілець комп'ютерний</p>
          </div>
          <div class="col second-table-col">
            <p>50 грн</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Крісло в кінотеатрі</p>
          </div>
          <div class="col second-table-col">
            <p>50 грн</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Диван стандартний, угловий, п'ятимісний</p>
          </div>
          <div class="col second-table-col">
            <p>850 грн</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Диван угловий, великий</p>
          </div>
          <div class="col second-table-col">
            <p>1000 грн</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Єврокнижка, видвіжний</p>
          </div>
          <div class="col second-table-col">
            <p>500 грн</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Єврокнижка, нерозкладний</p>
          </div>
          <div class="col second-table-col">
            <p>400 грн</p>
          </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
{% block stylesheet %}
<noscript>
    <link rel="stylesheet" href="{% static 'css/furniture.css' %}">
</noscript>
<script>
    window.addEventListener('load', function() {
        var link  = document.createElement('LINK');
        link.rel = "stylesheet";
        link.href = "{% static 'css/furniture.css' %}";
        document.body.appendChild(link);
    });
</script>
{% endblock %}
