{% extends 'hoz/base.html' %}
{% load staticfiles %}
{% block content %}
<section class="furniture">
    <h1>Химчистка мягкой мебели на дому!</h1>
    <h2>Чистка диванов, кресел и кожаных изделий</h2>
    <div class="row row-furniture">
      <div class="col">
        <div class="furniture-block">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
      <div class="col">
        <img class="rounded block-img" src="{% static 'img/furniture.png' %}" alt="Furniture">
      </div>
    </div>
    <div id="furniture-second-screen">
      <h3>Стоимость клининг услуг мягкой мебели</h3>
        <div class="furniture-table">
          <div class="row">
            <div class="col">
              <p>Кожаный диван угловой большой с подлокотниками<br/> (+ посадочное место - 200 грн)</p>
            </div>
            <div class="col second-table-col">
              <p>1250 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кожаный диван угловой небольшой</p>
            </div>
            <div class="col second-table-col">
              <p>1000 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кожаное кресло</p>
            </div>
            <div class="col second-table-col">
              <p>250 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кресло нераскладное</p>
            </div>
            <div class="col second-table-col">
              <p>150 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кресло раскладное</p>
            </div>
            <div class="col second-table-col">
              <p>250 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кресло двухместное  </p>
            </div>
            <div class="col second-table-col">
              <p>350 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Стул компьютерный</p>
            </div>
            <div class="col second-table-col">
              <p>50 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Кресло в кинотеатре</p>
            </div>
            <div class="col second-table-col">
              <p>50 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Диван стандартный, угловой, пятиместный</p>
            </div>
            <div class="col second-table-col">
              <p>850 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Диван угловой, большой</p>
            </div>
            <div class="col second-table-col">
              <p>1000 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Еврокнижка, выдвижной</p>
            </div>
            <div class="col second-table-col">
              <p>500 грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Еврокнижка, нераскладной</p>
            </div>
            <div class="col second-table-col">
              <p>400 грн</p>
            </div>
          </div>
      </div>
    </div>
</section>
<link rel="stylesheet" href="{% static 'css/furniture.css' %}">
{% endblock %}
