{% extends 'hoz/base.html' %}
{% load staticfiles %}
{% block meta %}
    <title>Хозяюшка | Химчистка мягкой мебели на дому в Одессе</title>
    <meta name="description" content="Одесская химчистка 'Хозяюшка'.Выездная чистка на дому в Одессе.Чистка мягкой мебели, матрасов, дивана, ковров и кожи.Звоните нам (068) 345-66-26 #химчистка">
{% endblock %}
{% block critical %}
    <style>
        .main .carousel-caption {
            bottom: 20%;
            width: 100%;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(211, 242, 250, 0.4), rgba(188, 223, 231, 0.9));
        }
        #carouselMain {
            height: inherit;
            max-height: 100vh;
            overflow: hidden;
        }
        #carouselMain img {
            pointer-events: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        #carouselMain .carousel-indicators li {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: auto 15px;
        }
        #main-mobile {
            height: inherit;
            z-index: -1;
            overflow: hidden;
            display: none;
        }
        @media only screen and (min-width : 320px) and (max-width : 480px) {
            #carouselMain {
                display: none;
            }
            #main-mobile {
                display: block;
            }
            #main-mobile img {
                height: 100vh;
                width: auto;
                position: relative;
                z-index: -1;
                left: -100%;
            }
        }
        @media only screen and (min-width: 481px) and (max-width: 767px) {
            #carouselMain {
                display: none;
            }
            #main-mobile {
                display: block;
            }
            #main-mobile img {
                height: 100vh;
                width: auto;
                position: relative;
                z-index: -1;
                left: 2%;
            }
        }
    </style>
{% endblock %}
{% block content_ru %}
<section class="main">
    <div id="carouselMain" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselMain" data-slide-to="0" class="active"></li>
            <li data-target="#carouselMain" data-slide-to="1"></li>
            <li data-target="#carouselMain" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/static/img/slide0.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Химчистка ковров, мягкой мебели и матрасов на дому в Одессе</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/img/slide1.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/img/hozyaushka.png" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Выездная химчистка на дому. Чистка паром ковров и ковролинов.</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="main-mobile">
        <div class="row h-100">
                <img class="" src="/static/img/slide0.png" alt="First slide">
        </div>
    </div>
</section>
<section class="advantages">
    <div class="caption-light"><h3>Наши преимущества</h3></div>
    <div class="container advantages-desctop">
        <div class="row">
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/rgb.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Обновление цвета материала</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/spot.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Выводим различные пятна</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/washing.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Тщательно полоскаем после химчистки</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/flower.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Свежий запах</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/cat.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Убираем шерсть животных</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/sales.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Разумная система скидок</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages-mobile container">
        <div class="row">
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/rgb.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Обновление цвета материала</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/spot.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Выводим различные пятна</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/washing.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Тщательно полоскаем после химчистки</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/flower.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Свежий запах</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/cat.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Убираем шерсть животных</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/sales.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Разумная система скидок</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="stages">
    <div class="caption-dark"><h3>Этапы химчистки</h3></div>
    <div class="container stage-container">
        <div class="row justify-content-end">
            <div class="card bg-dark text-white stage-left">
                <img class="card-img" src="/static/img/stage1.png" alt="Card image">
                <div class="card-img-overlay">
                    <span class="card-title hoz-card-title">1</span>
                    <p class="card-text hoz-card-text">На поверхность материала наносится профессиональные немецкие
                      экологически чистые моющие средства Kärcher. Качественно и полностью удаляется загрязнения,
                      выталкивая из глубоких волокон впитавшуюся грязь и пылевых клещей. Чистка обивки происходит
                      вручную.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container stage-container">
        <div class="row justify-content-start">
            <div class="card bg-dark text-white stage-right">
                <img class="card-img" src="/static/img/stage2.png" alt="Card image">
                <div class="card-img-overlay">
                    <span class="card-title hoz-card-title">2</span>
                    <p class="card-text hoz-card-text">Полоскание при помощи Kärcher: Струя воды, под большим
                      давлением, выдавливает из слоев ткани остатки чистящих средств и растворившиеся частицы грязи.
                      После промывки, пылесос всасывает влагу, в результате диван становится слегка влажным.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container stage-container">
        <div class="row justify-content-end">
            <div class="card bg-dark text-white stage-left">
                <img class="card-img" src="/static/img/stage3.png" alt="Card image">
                <div class="card-img-overlay">
                    <span class="card-title hoz-card-title">3</span>
                    <p class="card-text hoz-card-text">Сушка является завершающим этапом. С помощью вакуумного
                      оборудования, вся вода всасываться в аппарат, максимально высушивает мебель от влаги.
                      В сухом и теплом помещении мягкая мебель высыхает за 4-5 часов.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vermin">
    <div class="caption-light">
      <h3>Акции от Хозяюшки<br>
        <span>каждому клиенту подарок!</span><br>
        При заказе на сумму от 1000 грн скидка 10%</h3>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-7">
              <h4>Категории химчистки</h4>
          </div>
          <div class="col-5">
              <h4>Цены</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Химическая чистка стульев (текстиль)</p>
          </div>
          <div class="col-5">
              <p>от 50 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Химическая чистка кресел</p>
          </div>
          <div class="col-5">
              <p>от 150 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Химическая чистка диванов</p>
          </div>
          <div class="col-5">
              <p>от 400 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Химическая чистка матрасов</p>
          </div>
          <div class="col-5">
              <p>от 200 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Химическая чистка стульев (кожи)</p>
          </div>
          <div class="col-5">
              <p>от 100 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Химчистка кресел (кожи)</p>
          </div>
          <div class="col-5">
              <p>от 250 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Химчистка диванов (кожи)</p>
          </div>
          <div class="col-5">
              <p>от 500 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Химчистка ковров и ковролинов</p>
          </div>
          <div class="col-5">
              <p>от 45 грн кв м</p>
          </div>
      </div>
    </div>
</section>
<section class="portfolio">
    <div class="caption-dark"><h3>Наши работы</h3></div>
    <div class="container-fluid portfolio-desctop">
        <div class="row">
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/1.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/2.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">После</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/3.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/4.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">После</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/5.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/6.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">После</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/7.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/8.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">После</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid portfolio-mobile">
        <div class="row">
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/1.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/2.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">После</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/3.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/4.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">После</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/5.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/6.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">После</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/7.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/8.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">После</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="reviews">
    <div class="container reviews-container">
        <div class="caption-dark"><h3>Отзывы</h3></div>
        <div class="row reviews-row reviews-row-desctop">
            {% for post in posts_reviews %}
            <div class="col-4" itemscope itemtype="http://schema.org/Review">
                <div class="card hoz-card">
                    <div class="col">
                        {% if post.rating == 1 %}
                        <img class="card-img-top" src="/static/img/rating/confused.png" alt="Rating" itemprop="reviewRating">
                        {% elif post.rating == 2 %}
                        <img class="card-img-top" src="/static/img/rating/sad.png" alt="Rating" itemprop="reviewRating">
                        {% else %}
                        <img class="card-img-top" src="/static/img/rating/happy.png" alt="Rating" itemprop="reviewRating">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title" itemprop="name">{{ post.author }}</h4>
                            <p class="card-text" itemprop="reviewBody">{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row reviews-row reviews-row-mobile">
            <div id="carousel-mobile" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-mobile" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-mobile" data-slide-to="1"></li>
                    <li data-target="#carousel-mobile" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for post in posts_reviews %}
                        {% if post == posts_reviews|first %}
                        <div class="carousel-item active">
                        {% else  %}
                            <div class="carousel-item">
                        {% endif %}
                        <div class="col">
                            <div class="card hoz-card">
                                <div class="col">
                                    {% if post.rating == 1 %}
                                    <img class="card-img-top" src="/static/img/rating/confused.png" alt="Rating">
                                    {% elif post.rating == 2 %}
                                    <img class="card-img-top" src="/static/img/rating/sad.png" alt="Rating">
                                    {% else %}
                                    <img class="card-img-top" src="/static/img/rating/happy.png" alt="Rating">
                                    {% endif %}
                                    <div class="card-body">
                                        <h4 class="card-title">{{ post.author }}</h4>
                                        <p class="card-text">{{ post.text|linebreaksbr }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <a href="{% url 'reviews_ru' %}">Посмотреть все</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary hoz-btn" data-toggle="modal" data-target="#exampleModal">
            Оставить отзыв
        </button>
    </div>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog hoz-modal-dialog" role="document">
                <div class="modal-content hoz-modal-content">
                    <div class="modal-header hoz-modal-header">
                        <button type="button" class="close hoz-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body hoz-modal-body">
                        <h5 class="modal-title hoz-modal-title" id="exampleModalLabel">Нам важно Ваше мнение!</h5>
                        <div class="container hoz-form-container">
                            <div class="row justify-content-center">
                                {{ form_reviews.author }}
                            </div>
                            <div class="row justify-content-center">
                                {{ form_reviews.text }}
                            </div>
                            <div class="row justify-content-center hoz-rating">
                                {% for rate in form_reviews.rating %}
                                <div class="col-2 {{ rate.id_for_label }}">
                                    {{ rate.tag }}
                                    <label for="{{ rate.id_for_label }}"></label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer hoz-modal-footer row justify-content-center">
                        <button type="submit" class="btn btn-primary hoz-btn">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="request">
    <div class="caption-dark hoz-caption-bigger"><h3>Оставьте заявку на химчистку</h3></div>
    <div class="container">
        <div class="row justify-content-center">
            <form method="POST" class="post-form hoz-form">{% csrf_token %}
                <div class="form-group">
                    {{ form_request.name }}
                </div>
                <div class="form-group">
                    {{ form_request.phone }}
                </div>
                <div class="form-group">
                    {{ form_request.text }}
                </div>
                <button type="submit" class="btn btn-primary hoz-btn">Отправить</button>
            </form>
        </div>
    </div>
    <div id="bubbles">
        <div id="bubble1">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble3">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble5">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble8">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble9">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble10">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble11">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble13">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble-group">
            <img src="/static/svg/bubbles.svg" alt="">
        </div>
    </div>
</section>
{% endblock %}
{% block content_ua %}
<section class="main">
    <div id="carouselMain" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselMain" data-slide-to="0" class="active"></li>
            <li data-target="#carouselMain" data-slide-to="1"></li>
            <li data-target="#carouselMain" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/static/img/slide0.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Хімчистка ковров, м'якої меблів та матраців на дому в Одесі</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/img/slide1.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/img/hozyaushka.png" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Виїзна хімчистка на дому. Чистка паром килимів і ковроліну.</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="main-mobile">
        <div class="row h-100">
                <img class="" src="/static/img/slide0.png" alt="First slide">
        </div>
    </div>
</section>
<section class="advantages">
    <div class="caption-light"><h3>Наші переваги</h3></div>
    <div class="container advantages-desctop">
        <div class="row">
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/rgb.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Оновлення кольору матеріалу</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/spot.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Виводимо різні плями</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/washing.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Ретельно полоскати після хімчистки</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/flower.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Свіжий запах</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/cat.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Прибираємо шерсть тварин</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/sales.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Розумна система знижок</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages-mobile container">
        <div class="row">
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/rgb.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Оновлення кольору матеріалу</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/spot.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Виводимо різні плями</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/washing.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Ретельно полоскати після хімчистки</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/flower.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Свіжий запах</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/cat.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Прибираємо шерсть тварин</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoz-card">
                    <img class="card-img-top" src="/static/svg/sales.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Розумна система знижок</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="stages">
    <div class="caption-dark"><h3>Етапи хімчистки</h3></div>
    <div class="container stage-container">
        <div class="row justify-content-end">
            <div class="card bg-dark text-white stage-left">
                <img class="card-img" src="/static/img/stage1.png" alt="Card image">
                <div class="card-img-overlay">
                    <span class="card-title hoz-card-title">1</span>
                    <p class="card-text hoz-card-text">На поверхню матеріалу наноситься професійні німецькі
                      екологічно чисті миючі засоби Керхер. Якісно і повністю видаляється забруднення, виштовхуючи
                      з глибоких волокон бруд і пилових кліщів. Чистка обивки відбувається вручну.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container stage-container">
        <div class="row justify-content-start">
            <div class="card bg-dark text-white stage-right">
                <img class="card-img" src="/static/img/stage2.png" alt="Card image">
                <div class="card-img-overlay">
                    <span class="card-title hoz-card-title">2</span>
                    <p class="card-text hoz-card-text">Полоскання за допомогою Керхер: Струмінь води, під великим
                      тиском, видавлює з шарів тканини залишки засобів для чищення та частки бруду. Після промивання,
                      пилосос всмоктує вологу, в результаті диван стає злегка вологим.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container stage-container">
        <div class="row justify-content-end">
            <div class="card bg-dark text-white stage-left">
                <img class="card-img" src="/static/img/stage3.png" alt="Card image">
                <div class="card-img-overlay">
                    <span class="card-title hoz-card-title">3</span>
                    <p class="card-text hoz-card-text">Сушка є завершальним етапом. За допомогою вакуумного
                      обладнання, вся вода всмоктуватися в апарат, максимально висушує меблі від вологи. У сухому
                      і теплому приміщенні м'які меблі висихає за 4-5 годин.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vermin">
    <div class="caption-light">
      <h3>Акції від Хозяюшки<br>
        <span>кожному клієнту подарунок!</span><br>
        При замовленні на суму від 1000 грн знижка 10%</h3>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-7">
              <h4>Категорії хімчистки</h4>
          </div>
          <div class="col-5">
              <h4>Ціни</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Хімічна чистка стільців (текстиль)</p>
          </div>
          <div class="col-5">
              <p>від 50 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Хімічна чистка крісел</p>
          </div>
          <div class="col-5">
              <p>від 150 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Хімічна чистка диванів</p>
          </div>
          <div class="col-5">
              <p>від 400 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Хімічна чистка матраців</p>
          </div>
          <div class="col-5">
              <p>від 200 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Хімічна чистка стільців (шкіри)</p>
          </div>
          <div class="col-5">
              <p>від 100 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Хімчистка крісел (шкіри)</p>
          </div>
          <div class="col-5">
              <p>від 250 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Хімчистка диванів (шкіри)</p>
          </div>
          <div class="col-5">
              <p>від 500 грн</p>
          </div>
      </div>
      <div class="row">
          <div class="col-7">
              <p>Хімчистка килимів та ковроліну</p>
          </div>
          <div class="col-5">
              <p>від 45 грн кв м</p>
          </div>
      </div>
    </div>
</section>
<section class="portfolio">
    <div class="caption-dark"><h3>Наші роботи</h3></div>
    <div class="container-fluid portfolio-desctop">
        <div class="row">
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/1.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/2.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Після</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/3.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/4.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Після</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/5.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/6.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Після</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/7.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/8.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Після</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid portfolio-mobile">
        <div class="row">
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/1.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/2.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Після</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/3.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/4.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Після</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/5.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/6.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Після</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/7.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">До</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white">
                    <img class="card-img" src="/static/img/8.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Після</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="reviews">
    <div class="container reviews-container">
        <div class="caption-dark"><h3>Відгуки</h3></div>
        <div class="row reviews-row reviews-row-desctop">
            {% for post in posts_reviews %}
            <div class="col-4" itemprop="review" itemscope itemtype="http://schema.org/Review">
                <div class="card hoz-card">
                    <div class="col">
                        {% if post.rating == 1 %}
                        <img class="card-img-top" src="/static/img/rating/confused.png" alt="Rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        {% elif post.rating == 2 %}
                        <img class="card-img-top" src="/static/img/rating/sad.png" alt="Rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        {% else %}
                        <img class="card-img-top" src="/static/img/rating/happy.png" alt="Rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title" itemprop="author">{{ post.author }}</h4>
                            <p class="card-text" itemprop="reviewBody">{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row reviews-row reviews-row-mobile">
            <div id="carousel-mobile" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-mobile" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-mobile" data-slide-to="1"></li>
                    <li data-target="#carousel-mobile" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for post in posts_reviews %}
                        {% if post == posts_reviews|first %}
                        <div class="carousel-item active">
                        {% else  %}
                            <div class="carousel-item">
                        {% endif %}
                        <div class="col">
                            <div class="card hoz-card">
                                <div class="col">
                                    {% if post.rating == 1 %}
                                    <img class="card-img-top" src="/static/img/rating/confused.png" alt="Rating">
                                    {% elif post.rating == 2 %}
                                    <img class="card-img-top" src="/static/img/rating/sad.png" alt="Rating">
                                    {% else %}
                                    <img class="card-img-top" src="/static/img/rating/happy.png" alt="Rating">
                                    {% endif %}
                                    <div class="card-body">
                                        <h4 class="card-title">{{ post.author }}</h4>
                                        <p class="card-text">{{ post.text|linebreaksbr }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <a href="{% url 'reviews_ua' %}">Переглянути всi</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary hoz-btn" data-toggle="modal" data-target="#exampleModal">
            Залишити відгук
        </button>
    </div>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog hoz-modal-dialog" role="document">
                <div class="modal-content hoz-modal-content">
                    <div class="modal-header hoz-modal-header">
                        <button type="button" class="close hoz-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body hoz-modal-body">
                        <h5 class="modal-title hoz-modal-title" id="exampleModalLabel">Нам важлива Ваша точка зору!</h5>
                        <div class="container hoz-form-container">
                            <div class="row justify-content-center">
                                {{ form_reviews.author }}
                            </div>
                            <div class="row justify-content-center">
                                {{ form_reviews.text }}
                            </div>
                            <div class="row justify-content-center hoz-rating">
                                {% for rate in form_reviews.rating %}
                                <div class="col-2 {{ rate.id_for_label }}">
                                    {{ rate.tag }}
                                    <label for="{{ rate.id_for_label }}"></label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer hoz-modal-footer row justify-content-center">
                        <button type="submit" class="btn btn-primary hoz-btn">Відправити</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="request">
    <div class="caption-dark hoz-caption-bigger"><h3>Залиште заявку на хімчистку</h3></div>
    <div class="container">
        <div class="row justify-content-center">
            <form method="POST" class="post-form hoz-form">{% csrf_token %}
                <div class="form-group">
                    {{ form_request.name }}
                </div>
                <div class="form-group">
                    {{ form_request.phone }}
                </div>
                <div class="form-group">
                    {{ form_request.text }}
                </div>
                <button type="submit" class="btn btn-primary hoz-btn">Відправити</button>
            </form>
        </div>
    </div>
    <div id="bubbles">
        <div id="bubble1">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble3">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble5">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble8">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble9">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble10">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble11">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble13">
            <img src="/static/svg/bubble.svg" alt="">
        </div>
        <div id="bubble-group">
            <img src="/static/svg/bubbles.svg" alt="">
        </div>
    </div>
</section>
{% endblock %}
{% block stylesheet %}
<noscript>
    <link rel="stylesheet" href="/static/css/main.min.css">
</noscript>
<script>
    window.addEventListener('load', function() {
        var link  = document.createElement('LINK');
        link.rel = "stylesheet";
        link.href = "/static/css/main.min.css";
        document.body.appendChild(link);
    });
</script>
{% endblock %}
