{% extends 'hoz/base.html' %}
{% load staticfiles %}
{% block content %}
<section class="mattress">
  <h1>Химчистка матрасов на дому!</h1>
  <div class="row row-mattress">
    <div class="col">
      <div class="mattress-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    <div class="col">
      <img class="rounded block-img" src="{% static 'img/mattress.png' %}" alt="Mattress">
    </div>
  </div>
  <div id="mattress-second-screen">
    <h2>СТОИМОСТЬ УСЛУГ</h2>
    <div class="mattress-table">
      <div class="row">
        <div class="col">
          <p>Матрас детский</p>
        </div>
        <div class="col second-table-col">
          <p>200 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Матрас одноместный</p>
        </div>
        <div class="col second-table-col">
          <p>200 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Матрас полуторный</p>
        </div>
        <div class="col second-table-col">
          <p>250 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Матрас двухместный</p>
        </div>
        <div class="col second-table-col">
          <p>350 грн сторона</p>
        </div>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="{% static 'css/mattress.css' %}">
{% endblock %}
