{% extends 'hoz/base.html' %}
{% load staticfiles %}
{% block meta %}
    <title>Профессиональная химчистка матрасов на дому в Одессе</title>
    <meta name="description" content="Одесская химчистка 'Хозяюшка'. Выездная химчистка на дому в Одессе. Чистка подушек, матрасов и выведение пятен. Клиринговые услуги.">
{% endblock %}
{% block critical %}
  <style>
    .mattress {
      padding-top: 100px;
      text-align: center;
      font: #333333;
      margin-bottom: -10px;
    }

    .mattress h1 {
      padding-top: 4.2%;
      font-size: 36px;
    }

    .mattress h2 {
      padding-top: 1.5%;
      font-size: 24px;
    }

    .row-mattress {
      margin-top: 2.6%;
      margin-bottom: 2.1%;
    }

    .mattress-block {
      height: 100%;
      margin-left: 5.8%;
      border: solid 2px #131313;
      text-align: left;
      padding-left: 2.9%;
      padding-right: 4.3%;
    }

    @media only screen and (min-width : 320px) and (max-width : 480px) {
      .mattress h1 {
        padding: 4.2% 5% 2% 5%;
      }

      .mattress-block  {
        width: 90%;
      }

      .block-img {
        margin-top: 20px;
        width: 306px;
        height: 172px;
      }

      .row-mattress {
        margin-top: 4%;
        margin-bottom: 2%;
      }

      .mattress p {
        padding-top: 1%;
        font-size: 17px;
      }
    }
  </style>
{% endblock %}
{% block content %}
<section class="mattress">
  <h1>Химчистка матрасов и пуфиков на дому!</h1>
  <h2>Чистка подушек и матрасов от любых пятен</h2>
  <div class="row row-mattress">
    <div class="col">
      <div class="mattress-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    <div class="col">
      <img class="rounded block-img" src="{% static 'img/mattress.png' %}" alt="Mattress">
    </div>
  </div>
  <div id="mattress-second-screen">
    <h3>Стоимость клининг услуг матрасов</h3>
    <div class="mattress-table">
      <div class="row">
        <div class="col-8">
          <p>Матрас детский</p>
        </div>
        <div class="col-4">
          <p>200 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <p>Матрас одноместный</p>
        </div>
        <div class="col-4">
          <p>200 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <p>Матрас полуторный</p>
        </div>
        <div class="col-4">
          <p>250 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <p>Матрас двухместный</p>
        </div>
        <div class="col-4">
          <p>350 грн сторона</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block stylesheet %}
<noscript>
    <link rel="stylesheet" href="{% static 'css/mattress.css' %}">
</noscript>
<script>
    window.addEventListener('load', function() {
        var link  = document.createElement('LINK');
        link.rel = "stylesheet";
        link.href = "{% static 'css/mattress.css' %}";
        document.body.appendChild(link);
    });
</script>
{% endblock %}
