{% extends 'hoz/base.html' %}
{% load staticfiles %}
{% block meta %}
    <title>Профессиональная химчистка матрасов на дому в Одессе</title>
    <meta name="description" content="Одесская химчистка 'Хозяюшка'.Выездная химчистка на дому в Одессе.Чистка матрасов, выведение пятен и запахов.Звоните нам (073) 066-00-61 #чисткаматрасов">
{% endblock %}
{% block critical %}
  <style>
    .mattress {
      padding-top: 100px;
      text-align: center;
      font: #333333;
      margin-bottom: -10px;
    }

    .mattress h1 {
      padding-top: 4.2%;
      font-size: 36px;
    }

    .mattress h2 {
      padding-top: 1.5%;
      font-size: 24px;
    }

    .row-mattress {
      margin: 2.6% 0 2.1% 0;
      align-items: center;
    }

    .mattress-block {
      height: 100%;
      margin-left: 5.8%;
      border: solid 2px #131313;
      font-size: 20px;
      text-align: left;
      padding: 0 2.9% 0 4.3%;
    }

    @media only screen and (min-width : 320px) and (max-width : 480px) {
      .mattress h1 {
        padding: 4.2% 5% 2% 5%;
      }

      .mattress-block  {
        max-width: 88% !important;
        font-size: 15px;
      }

      .block-img {
        margin-top: 20px;
        width: 306px;
        height: 172px;
      }

      .row-mattress {
        margin: 4% 0 2% 0;
      }

      .mattress p {
        padding-top: 1%;
        font-size: 17px;
      }
    }

    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .row-mattress {
        padding: 5%;
      }

      .mattress-block {
        margin-left: 3%;
      }

      .block-img {
        padding-top: 2%;
      }
    }
  </style>
{% endblock %}
{% block content_ru %}
<section class="mattress">
  <h1>ХИМЧИСТКА МАТРАСОВ У КЛИЕНТА НА ДОМУ</h1>
  <h2>Чистка матрасов и мягкой обивки от любых пятен</h2>
  <div class="row row-mattress">
    <div class="col mattress-block">
      <p>Для чистки матрасов мы используем профессиональное немецкое оборудование фирмы Karcher, что крайне важно для идеального результата.При чистке удаляются и выводятся пятна, разводы, запахи. Чистящие средства не разрушают структуру ткани и восстанавливают цвет. Для безопасности Вашего здоровья,здоровья Ваших детей и питомцев мы используем только фирменные, сертифицированные, проверенные химикаты, абсолютно безвредные средства. Большой опыт гарантирует отличный результат. Время на стирку от 1 до 3 часов, все зависит от степени загрязнения. Вы получаете чистоту, свежесть, безопасность. Высыхание происходит за 2 - 5 часов. В зависимости от сезона в проветриваемом помещении. АКТУАЛЬНО ТОЛЬКО ДЛЯ ЖИТЕЛЕЙ ГОРОДА ОДЕССА И ОКРЕСТНОСТИ.</p>
    </div>
    <div class="col">
      <img class="rounded block-img" src="{% static 'img/mattress.png' %}" alt="Mattress">
    </div>
  </div>
  <div id="mattress-second-screen">
    <h3>Стоимость услуг чистки матрасов и мягкой обивки</h3>
    <div class="caption-light">
      <h4>Акции от Хозяюшки<br>
        <span>каждому клиенту подарок!</span><br>
        При заказе на сумму от 1000 грн скидка 10%</h4>
    </div>
    <div class="mattress-table">
      <div class="row">
        <div class="col-8">
          <p>Матрас детский</p>
        </div>
        <div class="col-4">
          <p>200 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <p>Матрас одноместный</p>
        </div>
        <div class="col-4">
          <p>200 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <p>Матрас полуторный</p>
        </div>
        <div class="col-4">
          <p>250 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <p>Матрас двухместный</p>
        </div>
        <div class="col-4">
          <p>350 грн сторона</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block content_ua %}
<section class="mattress">
  <h1>ХІМЧИСТКА МАТРАЦІВ У КЛІЄНТА ВДОМА.</h1>
  <h2>Чистка матраців і м'якої обивки від будь-яких плям</h2>
  <div class="row row-mattress">
    <div class="col">
      <div class="mattress-block">
        <p>Для чистки матрасів ми використовуємо професійне німецьке устаткування
            фірми Karcher, що вкрай важливо для ідеального результату. Під час чистки
            видаляються і виводяться плями, розводи бруду, запахи. Чистячі засоби
            не псують структуру тканини і відновлюють колір. Для безпеки Вашого здоров`я,
            здоров`я ваших дітей та домашніх улюбленців ми використовуємо тільки
            фірмові, сертифіковані, перевірені хімікати, абсолютно безпечні засоби.
            Великий досвід гарантує відмінний результат. Час на прання від 1 до 2 годин,
            залежно від ступеня забруднення. Ви отримуєте чистоту, свіжість, безпеку.
            Час висихання від 2 до 5 годин, залежно від сезону в  провітрюваному приміщенні.
            АКТУАЛЬНО ТІЛЬКИ ДЛЯ ЖИТЕЛІВ МІСТА ОДЕСИ ТА ОКОЛИЦІ.
        </p>
      </div>
    </div>
    <div class="col">
      <img class="rounded block-img" src="{% static 'img/mattress.png' %}" alt="Mattress">
    </div>
  </div>
  <div id="mattress-second-screen">
    <h3>Вартість послуг чищення матраців і м'якої обивки</h3>
    <div class="caption-light">
      <h4>Акції від Хозяюшки<br>
        <span>кожному кліенту подарунок!</span><br>
        При замовленні на суму від 1000 грн знижка 10%</h4>
    </div>
    <div class="mattress-table">
      <div class="row">
        <div class="col-8">
          <p>Матрац дитячий</p>
        </div>
        <div class="col-4">
          <p>200 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <p>Матрац одномісний</p>
        </div>
        <div class="col-4">
          <p>200 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <p>Матрац полуторний</p>
        </div>
        <div class="col-4">
          <p>250 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <p>Матрац двомісний</p>
        </div>
        <div class="col-4">
          <p>350 грн сторона</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block stylesheet %}
<noscript>
    <link rel="stylesheet" href="{% static 'css/mattress.css' %}">
</noscript>
<script>
    window.addEventListener('load', function() {
        var link  = document.createElement('LINK');
        link.rel = "stylesheet";
        link.href = "{% static 'css/mattress.css' %}";
        document.body.appendChild(link);
    });
</script>
{% endblock %}
