{% extends 'hoz/base.html' %}
{% load staticfiles %}
{% block content %}
<section class="price">
  <h1>Цены</h1>
  <div class="row justify-content-center">
    <div class="price-table">
      <h3>Мягкая мебель</h3>
      <div class="row">
        <div class="col">
          <p>Кожаный диван угловой большой с подлокотниками<br/> (+ посадочное место - 200 грн)</p>
        </div>
        <div class="col second-table-col">
          <p>1250 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кожаный диван угловой небольшой</p>
        </div>
        <div class="col second-table-col">
          <p>1000 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кожаное кресло</p>
        </div>
        <div class="col second-table-col">
          <p>250 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кресло нераскладное</p>
        </div>
        <div class="col second-table-col">
          <p>150 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кресло раскладное</p>
        </div>
        <div class="col second-table-col">
          <p>250 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кресло двухместное  </p>
        </div>
        <div class="col second-table-col">
          <p>350 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Стул компьютерный</p>
        </div>
        <div class="col second-table-col">
          <p>50 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кресло в кинотеатре</p>
        </div>
        <div class="col second-table-col">
          <p>50 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Диван стандартный, угловой, пятиместный</p>
        </div>
        <div class="col second-table-col">
          <p>850 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Диван угловой, большой</p>
        </div>
        <div class="col second-table-col">
          <p>1000 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Еврокнижка, выдвижной</p>
        </div>
        <div class="col second-table-col">
          <p>500 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Еврокнижка, нераскладной</p>
        </div>
        <div class="col second-table-col">
          <p>400 грн</p>
        </div>
      </div>
      <h3>Матрасы</h3>
      <div class="row">
        <div class="col">
          <p>Матрас детский</p>
        </div>
        <div class="col second-table-col">
          <p>200 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Матрас одноместный</p>
        </div>
        <div class="col second-table-col">
          <p>200 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Матрас полуторный</p>
        </div>
        <div class="col second-table-col">
          <p>250 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Матрас двухместный</p>
        </div>
        <div class="col second-table-col">
          <p>350 грн сторона</p>
        </div>
      </div>
      <h3>Ковры</h3>
      <div class="row">
        <div class="col">
          <p>Шелковый</p>
        </div>
        <div class="col second-table-col">
          <p>80 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Шерстяной</p>
        </div>
        <div class="col second-table-col">
          <p>40 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Ковер, синтетика, низкий ворс</p>
        </div>
        <div class="col second-table-col">
          <p>40 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Ковер, синтетика, средний ворс</p>
        </div>
        <div class="col second-table-col">
          <p>40 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Ковер шеги лохматый</p>
        </div>
        <div class="col second-table-col">
          <p>45 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Ковролин средний ворс </p>
        </div>
        <div class="col second-table-col">
          <p>45 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Ковролин высокий ворс </p>
        </div>
        <div class="col second-table-col">
          <p>45 грн кв метр</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="request">
    <div class="caption-dark hoz-caption-bigger"><h2>Оставьте заявку на химчистку</h2></div>
    <div class="container hoz-reqest-form">
        <div class="row justify-content-center">
            <form method="POST" class="post-form hoz-form">{% csrf_token %}
                <div class="form-group">
                    {{ form_request.name }}
                </div>
                <div class="form-group">
                    {{ form_request.phone }}
                </div>
                <div class="form-group">
                    {{ form_request.text }}
                </div>
                <button type="submit" class="btn btn-primary hoz-btn">Отправить</button>
            </form>
        </div>
    </div>
    <div id="bubbles">
        <div id="bubble1">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble2">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble3">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble4">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble5">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble6">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble7">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble8">
            <img src="{% static 'svg/bubbles.svg' %}" alt="">
        </div>
    </div>
</section>
<link rel="stylesheet" href="{% static 'css/price.css' %}">
{% endblock %}
