{% extends 'hoz/base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Стоимость химчистки мягкой мебели, матрасов и ковров в Одессе</title>
{% endblock %}
{% block description %}
    <meta name="description" content="Сколько стоит химчистка в Одессе? Цена на химчистку мягкой мебели, матрасов, ковров и занавесок. Одесская клининг компания 'Хозяюшка'. Прайс лист. ">
{% endblock %}
{% block critical %}
    <style>
      .price {
          padding-top: 100px;
          text-align: center;
          font: #333333;
          margin-bottom: -15px;
      }

      .price h1 {
          margin-top: 3%;
          margin-bottom: 2%;
          font-size: 36px;
      }

      .price-table {
        width: 70%;
        text-align: left;
        font-size: 24px;
        line-height: 20px;
        border: solid 4px #202f4a;
        border-radius: 10px;
        padding: 25px 5% 25px 4%;
        margin-bottom: 20px;
      }

      .price-table p {
        padding: 1%;
      }

      .price-table h2 {
        line-height: 50px;
        font-size: 32px;
      }

      .second-table-col {
        max-width: 25%;
      }

      @media only screen and (min-width: 320px) and (max-width : 480px) {
        .price-table {
          width: 85%;
          line-height: 18px;
          font-size: 15px;
        }

        .price-table h3 {
          line-height: 21px;
          font-size: 22px;
          padding: 1.5%;
        }

        .second-table-col {
          max-width: 35%;
        }
      }
    </style>
{% endblock %}
{% block content %}
<section class="price">
  <h1>Стоимость клининг услуг мягкой мебели, матрасов и ковров</h1>
  <div class="row justify-content-center">
    <div class="price-table">
      <h2>Чистка мягкой мебели</h2>
      <div class="row">
        <div class="col">
          <p>Кожаный диван угловой большой с подлокотниками<br/> (+ посадочное место - 200 грн)</p>
        </div>
        <div class="col second-table-col">
          <p>1250 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кожаный диван угловой небольшой</p>
        </div>
        <div class="col second-table-col">
          <p>1000 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кожаное кресло</p>
        </div>
        <div class="col second-table-col">
          <p>250 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кресло нераскладное</p>
        </div>
        <div class="col second-table-col">
          <p>150 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кресло раскладное</p>
        </div>
        <div class="col second-table-col">
          <p>250 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кресло двухместное  </p>
        </div>
        <div class="col second-table-col">
          <p>350 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Стул компьютерный</p>
        </div>
        <div class="col second-table-col">
          <p>50 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Кресло в кинотеатре</p>
        </div>
        <div class="col second-table-col">
          <p>50 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Диван стандартный, угловой, пятиместный</p>
        </div>
        <div class="col second-table-col">
          <p>850 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Диван угловой, большой</p>
        </div>
        <div class="col second-table-col">
          <p>1000 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Еврокнижка, выдвижной</p>
        </div>
        <div class="col second-table-col">
          <p>500 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Еврокнижка, нераскладной</p>
        </div>
        <div class="col second-table-col">
          <p>400 грн</p>
        </div>
      </div>
      <h2>Чистка матрасов</h2>
      <div class="row">
        <div class="col">
          <p>Матрас детский</p>
        </div>
        <div class="col second-table-col">
          <p>200 грн</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Матрас одноместный</p>
        </div>
        <div class="col second-table-col">
          <p>200 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Матрас полуторный</p>
        </div>
        <div class="col second-table-col">
          <p>250 грн сторона</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Матрас двухместный</p>
        </div>
        <div class="col second-table-col">
          <p>350 грн сторона</p>
        </div>
      </div>
      <h2>Чистка ковров и ковролина</h2>
      <div class="row">
        <div class="col">
          <p>Шелковый</p>
        </div>
        <div class="col second-table-col">
          <p>80 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Шерстяной</p>
        </div>
        <div class="col second-table-col">
          <p>40 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Ковер, синтетика, низкий ворс</p>
        </div>
        <div class="col second-table-col">
          <p>40 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Ковер, синтетика, средний ворс</p>
        </div>
        <div class="col second-table-col">
          <p>40 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Ковер шеги лохматый</p>
        </div>
        <div class="col second-table-col">
          <p>45 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Ковролин средний ворс </p>
        </div>
        <div class="col second-table-col">
          <p>45 грн кв метр</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Ковролин высокий ворс </p>
        </div>
        <div class="col second-table-col">
          <p>45 грн кв метр</p>
        </div>
      </div>
    </div>
  </div>
</section><section class="request">
    <div class="caption-dark hoz-caption-bigger"><h3>Оставьте заявку на химчистку</h3></div>
    <div class="container">
        <div class="row justify-content-center">
            <form method="POST" class="post-form hoz-form">{% csrf_token %}
                <div class="form-group">
                    {{ form_request.name }}
                </div>
                <div class="form-group">
                    {{ form_request.phone }}
                </div>
                <div class="form-group">
                    {{ form_request.text }}
                </div>
                <button type="submit" class="btn btn-primary hoz-btn">Отправить</button>
            </form>
        </div>
    </div>
    <div id="bubbles">
        <div id="bubble1">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble3">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble5">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble8">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble9">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble10">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble11">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble13">
            <img src="{% static 'svg/bubble.svg' %}" alt="">
        </div>
        <div id="bubble-group">
            <img src="{% static 'svg/bubbles.svg' %}" alt="">
        </div>
    </div>
</section>
{% endblock %}
{% block stylesheet %}
<noscript>
    <link rel="stylesheet" href="{% static 'css/price.css' %}">
</noscript>
<script>
    window.addEventListener('load', function() {
        var link  = document.createElement('LINK');
        link.rel = "stylesheet";
        link.href = "{% static 'css/price.css' %}";
        document.body.appendChild(link);
    });
</script>
{% endblock %}
