{% extends 'hoz/base.html' %}
{% load staticfiles %}
{% block meta %}
    <title>Хозяюшка | Химчистка мягкой мебели в Одессе | Отзывы о компании</title>
    <meta name="description" content="Одесская химчистка 'Хозяюшка' представляет услуги с выездом специалиста по всей Одессе. Чистка мягкой мебели,матрасов,ковров и ковролинов. Отзывы о нас. #чисткамебели">
{% endblock %}
{% block content_ru %}
<section class="reviews">
    <div class="caption-dark"><img src="{% static 'svg/sponge.svg' %}" alt=""><h1>О НАС</h1></div>
    <div class="container reviews-container">
        <div class="row">
            <p>Компания «Хозяюшка» специализируется на чистке мягкой мебели, матрасов
                и ковров на дому в городе Одесса и её окрестностях. Наши цены приятно
                Вас удивят. Разработана система скидок, а для наших клиентов подарок,
                который, надеемся, порадует их. В нашей команде работают только специалисты
                высокого уровня, которые разбираются в структуре тканей, умеют обращаться
                с химическими средствами. При чистке ковровых изделий используем горячий пар,
                современную сертифицированную, безопасную химию, профессиональное оборудование
                фирмы Karcher, что дает поразительный эффект. Есть возможность безналичного
                расчета, что удобно для юридических лиц. Наши услуги начинаются с момента
                Вашего звонка и заканчиваются только тогда, когда Вы остаетесь довольны
                результатом нашего труда.</p>
        </div>
        <div class="row">
            <p>А) - мы начинаем работать с вами при оформлении заказа. Мы просим,
                если возможно, прислать фото предмета, который будем чистить, что
                позволяет лучше определить тип покрытия и характер проблемы.</p>
        </div>
        <div class="row">
            <p>Б) - остальная работа происходит у вас дома в назначенный день.
                Специалист наносит необходимый, заранее подобранный чистящий раствор,
                который сертифицирован, абсолютно безвреден для Вас и Ваших питомцев.
                Это вернет первозданный свежий вид и убирёт запахи. При необходимости,
                сложных загрязнениях, поверхность обрабатывается вручную. Ковровые
                изделия обрабатываются паром и вручную.</p>
        </div>
        <div class="row">
            <p>В) - третий этап - завершающий. При помощи моющего пылесоса производится
                полоскание чистой водой, что удаляет чистящий раствор с растворенной
                в нем грязью и одновременно вакуум высасывает влагу, что оставляет
                обработанный участок слегка влажным. Время работы зависит от объема
                и степени загрязнения. Период высыхания составляет от 2 до 5 часов в
                зависимости от сезона в проветриваемом помещении.</p>
        </div>
    </div>
    <div class="container reviews-container">
        <div class="caption-dark"><h2>Отзывы наших клиентов</h2></div>
        <div class="row reviews-row reviews-row-desctop">
            {% for post in posts_reviews %}
            <div class="col-4">
                <div class="card hoz-card">
                    <div class="col">
                        <div class="row justify-content-center">
                            {% if post.rating == 1 %}
                            <img class="card-img-top" src="{% static 'img/rating/confused.png' %}" alt="Rating">
                            {% elif post.rating == 2 %}
                            <img class="card-img-top" src="{% static 'img/rating/sad.png' %}" alt="Rating">
                            {% else %}
                            <img class="card-img-top" src="{% static 'img/rating/happy.png' %}" alt="Rating">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ post.author }}</h4>
                            <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row reviews-row reviews-row-desctop">
            {% endif %}
            {% endfor %}
        </div>
        {% for post in posts_reviews %}
        <div class="row reviews-row reviews-row-mobile">
            <div class="col">
                <div class="card hoz-card">
                    <div class="col">
                        <div class="row justify-content-center">
                            {% if post.rating == 1 %}
                            <img class="card-img-top" src="{% static 'img/rating/confused.png' %}" alt="Rating">
                            {% elif post.rating == 2 %}
                            <img class="card-img-top" src="{% static 'img/rating/sad.png' %}" alt="Rating">
                            {% else %}
                            <img class="card-img-top" src="{% static 'img/rating/happy.png' %}" alt="Rating">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ post.author }}</h4>
                            <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block content_ua %}
<section class="reviews">
    <div class="caption-dark"><img src="{% static 'svg/sponge.svg' %}" alt=""><h1>ПРО НАС</h1></div>
    <div class="container reviews-container">
        <div class="row">
            <p>Компанія «Хозяюшка» спеціалізується на чистці м’яких меблів,
                матраців та килимів у Вас вдома в Одесі та її околицях. Наші ціни
                Вас приємно здивують. Розроблена система знижок, а для наших клієнтів
                подарунок, який, сподіваємось, принесе радість до Вашої оселі.
                В нашій команді працюють фахівці тільки високого рівня, які розбираються
                у структурі тканини, вміють поводитись з хімічними засобами.
                Під час чищення килимів використовуємо гарячу пару, сучасну сертифіковану,
                безпечну хімію, професійне устаткування фірми Karcher, що дає вражаючий ефект.
                Є можливість безготівкового розрахунку, що буде зручним для юридичних осіб.
                Наші послуги починаються з моменту Вашого дзвінка і завершуються тільки тоді,
                коли Ви залишаєтесь задоволеними результатами нашої роботи.</p>
        </div>
        <div class="row">
            <p>А) - Ми починаємо працювати з Вами з моменту оформлення замовлення.
                За необхідності, ми просимо надіслати фото предмета, який будемо
                чистити, що дозволить краще визначити структуру, тип покриття та
                характер проблеми.</p>
        </div>
        <div class="row">
            <p>Б) - Основна робота відбувається у Вас вдома у визначений день.
                Спеціаліст наносить необхідний, заздалегідь підібраний чистячий
                розчин,який сертифікований, абсолютно безпечний для Вас, Ваших
                дітей та домашніх улюбленців. Це поверне первинний свіжий зовнішній
                вигляд та усуне запахи. За наявності складних забруднень поверхня
                обробляється вручну. Килими обробляються за допомогою пари та руками майстрів.</p>
        </div>
        <div class="row">
            <p>В) - третій етап -заключний. За допомогою миючого пилососа відбувається
                полоскання чистою водою, що видаляє чистячий розчин з розчиненим у
                ньому брудом і одночасно вакуум висмоктує вологу, що залишає оброблену
                ділянку трохи вологою. Час роботи залежить від об’єму і ступеня забруднення.
                Час висихання від 2 до 5 годин, залежно від сезону в провітрюваному приміщенні.</p>
        </div>
    </div>
    <div class="container reviews-container">
        <div class="caption-dark"><h2>Відгуки наших клієнтів</h2></div>
        <div class="row reviews-row reviews-row-desctop">
            {% for post in posts_reviews %}
            <div class="col-4">
                <div class="card hoz-card">
                    <div class="col">
                        <div class="row justify-content-center">
                            {% if post.rating == 1 %}
                            <img class="card-img-top" src="{% static 'img/rating/confused.png' %}" alt="Rating">
                            {% elif post.rating == 2 %}
                            <img class="card-img-top" src="{% static 'img/rating/sad.png' %}" alt="Rating">
                            {% else %}
                            <img class="card-img-top" src="{% static 'img/rating/happy.png' %}" alt="Rating">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ post.author }}</h4>
                            <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row reviews-row reviews-row-desctop">
            {% endif %}
            {% endfor %}
        </div>
        {% for post in posts_reviews %}
        <div class="row reviews-row reviews-row-mobile">
            <div class="col">
                <div class="card hoz-card">
                    <div class="col">
                        <div class="row justify-content-center">
                            {% if post.rating == 1 %}
                            <img class="card-img-top" src="{% static 'img/rating/confused.png' %}" alt="Rating">
                            {% elif post.rating == 2 %}
                            <img class="card-img-top" src="{% static 'img/rating/sad.png' %}" alt="Rating">
                            {% else %}
                            <img class="card-img-top" src="{% static 'img/rating/happy.png' %}" alt="Rating">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ post.author }}</h4>
                            <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block stylesheet %}
<noscript>
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
</noscript>
<script>
    window.addEventListener('load', function() {
        var link  = document.createElement('LINK');
        link.rel = "stylesheet";
        link.href = "{% static 'css/reviews.css' %}";
        document.body.appendChild(link);
    });
</script>
{% endblock %}
