{% extends 'hoz/base.html' %}
{% load staticfiles %}
{% block meta %}
    <title>Хозяюшка | Химчистка мягкой мебели в Одессе | Отзывы о компании</title>
    <meta name="description" content="Одесская химчистка 'Хозяюшка' представляет услуги с выездом специалиста по всей Одессе. Чистка мягкой мебели,матрасов,ковров и ковролинов. Отзывы о нас. #чисткамебели">
{% endblock %}
{% block content_ru %}
<section class="reviews">
    <div class="caption-dark"><img src="{% static 'svg/sponge.svg' %}" alt=""><h3>О нас</h3></div>
    <div class="container reviews-container">
        <div class="row">
            <p>Компания ХОЗЯЮШКА предоставляет услуги чистки мягкой мебели и ковров на домув Одессе. У нас
              доступные цены которые приятно удивят вас. Также существует система скидок. Наши сотрудники обучены
              и полностью знают структуру тканей, умеют работать с химией. При чистке ковров используем горячий пар,
              что дает поразительный результат. Есть возможность безналичного</p>
        </div>
        <div class="row">
            <p>У нас профессиональное немецкое оборудование Karcher, что очень важно для химчистки матраса на дому.
              При чистке матрасов удаляются и выводятся пятна, разводы, запахи. Чистящие средства не разрушают
              структуру ткани, и восстанавливают цвет. Большой опыт позволяет добиться отличного результата.
              Используем только фирменные сертифицированные безопасные чистящие средства, которые абсолютно
              безвредны для вас, детей и питомцев. Время на химчистку от 1 до 2 часов, в зависимости от степени
              загрязнения. Вы получаете чистоту, свежесть, безопасность.</p>
        </div>
    </div>
    <div class="container reviews-container">
        <div class="caption-dark"><h3>Отзывы наших клиентов</h3></div>
        <div class="row reviews-row reviews-row-desctop">
            {% for post in posts_reviews %}
            <div class="col-4">
                <div class="card hoz-card">
                    <div class="col">
                        <div class="row justify-content-center">
                            {% if post.rating == 1 %}
                            <img class="card-img-top" src="{% static 'img/rating/confused.png' %}" alt="Rating">
                            {% elif post.rating == 2 %}
                            <img class="card-img-top" src="{% static 'img/rating/sad.png' %}" alt="Rating">
                            {% else %}
                            <img class="card-img-top" src="{% static 'img/rating/happy.png' %}" alt="Rating">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ post.author }}</h4>
                            <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row reviews-row reviews-row-desctop">
            {% endif %}
            {% endfor %}
        </div>
        {% for post in posts_reviews %}
        <div class="row reviews-row reviews-row-mobile">
            <div class="col">
                <div class="card hoz-card">
                    <div class="col">
                        <div class="row justify-content-center">
                            {% if post.rating == 1 %}
                            <img class="card-img-top" src="{% static 'img/rating/confused.png' %}" alt="Rating">
                            {% elif post.rating == 2 %}
                            <img class="card-img-top" src="{% static 'img/rating/sad.png' %}" alt="Rating">
                            {% else %}
                            <img class="card-img-top" src="{% static 'img/rating/happy.png' %}" alt="Rating">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ post.author }}</h4>
                            <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block content_ua %}
<section class="reviews">
    <div class="caption-dark"><img src="{% static 'svg/sponge.svg' %}" alt=""><h3>Про нас</h3></div>
    <div class="container reviews-container">
        <div class="row">
            <p>Компанія ХОЗЯЮШКА надає послуги чищення м'яких меблів і килимів на дому в Одессе. У нас доступні ціни
              які приємно здивують вас. Також існує система знижок, ще маленький подарунок сподіваємося порадувати вас.
              Наші співробітники навчені повністю знають структуру тканин, вміють працювати з хімією. При чищенні килимів
              використовуємо гарячий пар що дає вражаючий результат. Сучасне хімію, устаткування фірми Karcher є
              можливість безготівкового розрахунку, зручно для юридичних ліц. Наша робота починається з моменту
              вашого дзвінка закінчується тільки тоді, коли ви залишаєтеся задоволені результатом праці.</p>
        </div>
        <div class="row">
            <p>У нас професійне німецьке обладнання Karcher, що дуже важливо для хімчистки матраца на дому.
              При чищенні матраців видаляються і виводяться плями, розводи, запахи. Чистячі засоби не руйнують
              структуру тканини, і відновлюють колір. Великий досвід дозволяє добитися відмінного результату.
              Використовуємо тільки фірмові сертифіковані безпечні засоби для чищення, які абсолютно нешкідливі для
              вас, дітей та вихованців. Час на хімчистку від 1 до 2 годин, залежно від ступеня забруднення.
              Ви отримуєте чистоту, свіжість, безпеку.</p>
        </div>
    </div>
    <div class="container reviews-container">
        <div class="caption-dark"><h3>Відгуки наших клієнтів</h3></div>
        <div class="row reviews-row reviews-row-desctop">
            {% for post in posts_reviews %}
            <div class="col-4">
                <div class="card hoz-card">
                    <div class="col">
                        <div class="row justify-content-center">
                            {% if post.rating == 1 %}
                            <img class="card-img-top" src="{% static 'img/rating/confused.png' %}" alt="Rating">
                            {% elif post.rating == 2 %}
                            <img class="card-img-top" src="{% static 'img/rating/sad.png' %}" alt="Rating">
                            {% else %}
                            <img class="card-img-top" src="{% static 'img/rating/happy.png' %}" alt="Rating">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ post.author }}</h4>
                            <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row reviews-row reviews-row-desctop">
            {% endif %}
            {% endfor %}
        </div>
        {% for post in posts_reviews %}
        <div class="row reviews-row reviews-row-mobile">
            <div class="col">
                <div class="card hoz-card">
                    <div class="col">
                        <div class="row justify-content-center">
                            {% if post.rating == 1 %}
                            <img class="card-img-top" src="{% static 'img/rating/confused.png' %}" alt="Rating">
                            {% elif post.rating == 2 %}
                            <img class="card-img-top" src="{% static 'img/rating/sad.png' %}" alt="Rating">
                            {% else %}
                            <img class="card-img-top" src="{% static 'img/rating/happy.png' %}" alt="Rating">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ post.author }}</h4>
                            <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block stylesheet %}
<noscript>
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
</noscript>
<script>
    window.addEventListener('load', function() {
        var link  = document.createElement('LINK');
        link.rel = "stylesheet";
        link.href = "{% static 'css/reviews.css' %}";
        document.body.appendChild(link);
    });
</script>
{% endblock %}
