@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('../fonts/Geometria.otf');

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

section {
    min-height: 100%;
}

.main {
    background: url(../img/foam.png) no-repeat;
}


header {
    height: 100px;
    position: absolute;
    width: 100%;
    background: rgba(195, 221, 254, 0.6);
}

header nav {
    width: 100%;
}

nav {
    height: 95%;
    width: 100%;
    padding: 0 80px;
    /*background-image: linear-gradient(to top, rgba(33, 147, 176, 0.2), rgba(109, 213, 237, 0.2));*/
    font-size: 18px;
}
nav ul {
    height: inherit;
}
nav a {
    letter-spacing: 0.7px;
    text-align: center;
    color: #333333;
}

nav li {
    display: flex;
    align-items: flex-end;
}

#carouselMain {
    height: inherit;
    z-index: -1;
    max-height: 678px;
    overflow: hidden;
}

#carouselMain img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hoz-carousel-indicators {

}

.logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}

.logo img {
    width: 250px;
    height: 56px;
}

.phone {
    height: 35px;
    display: flex;
    align-items: center;
}

.phone img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

footer {
    background: url(../img/foam2.png) no-repeat;
    background-position-y: 104%;
    height: 100px;
}

footer img {
    height: 40px;
    width: 40px;
    margin: 5px;
}
