@import url('https://fonts.googleapis.com/css?family=Roboto');

footer {
    overflow: hidden;
    position: relative;
    margin-top: -8%;
}

footer img {
    height: 40px;
    width: 40px;
    margin: 5px;
}

.copyright {
    font-size: 12px;
}
.copyright img {
    width: auto;
    height: 20px;
    margin-bottom: 8px;
}


@media only screen and (min-width : 320px) and (max-width : 480px) {


    footer {
        margin-top: 0;
        background: #4EDCE8;
    }

    footer .nav-logo {
        visibility: visible;
    }

    .nav-links {
        display: block;
    }

}
