.furniture {
  padding-top: 100px;
  text-align: center;
  font: #333333;
}

.furniture h1 {
  padding-top: 4.2%;
  font-size: 36px;
}

.furniture p {
  padding-top: 1.5%;
  font-size: 24px;
}

.row-furniture {
  margin-top: 2.6%;
  margin-bottom: 2.1%;
}

.furniture-block {
  height: 100%;
  margin-left: 5.8%;
  border: solid 2px #131313;
  text-align: left;
  padding-left: 2.9%;
  padding-right: 4.3%;
}

#furniture-second-screen {
  height: 100%;
  background: url(../img/foam!.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#furniture-second-screen h2 {
  font-size: 30px;
  padding: 60px 0 60px 0;
}

.furniture-table {
  width: 70%;
  font-size: 24px;
  text-align: left;
  line-height: 25px;
  border: solid 4px #202f4a;
  border-radius: 10px;
  padding: 25px 5% 25px 4%;
  margin: 50px 0 120px 0;
}

.furniture-table p {
  padding: 1%;
}

.second-table-col {
  max-width: 20%;
}

@media only screen and (min-device-width: 320px) and (max-device-width : 480px) {
  .furniture h1 {
    padding: 4.2% 5% 2% 5%;
  }

  .furniture-block  {
    width: 90%;
  }

  .block-img {
    margin-top: 20px;
    width: 306px;
    height: 172px;
  }

  .row-furniture {
    margin-top: 4%;
    margin-bottom: 2%;
  }

  .furniture p {
    padding-top: 1%;
    font-size: 17px;
  }

  #furniture-second-screen h2 {
    margin-top: 65px;
    margin-bottom: 70px;
    font-size: 20px;
  }

  .furniture-table {
    width: 95%;
    line-height: 18px;
    font-size: 15px;
  }
}
