#furniture-second-screen {
  height: 100%;
  background: url(../img/foam_.png);
  background-size: auto 110%;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

#furniture-second-screen h3 {
  font-size: 30px;
  padding: 40px 0 90px 0;
}

.caption-light h4 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 2% 0 2% 0;
}

.furniture-table {
  width: 70%;
  font-size: 24px;
  text-align: left;
  line-height: 25px;
  border: solid 4px #202f4a;
  border-radius: 10px;
  padding: 17.5px 5% 17.5px 4%;
}

.furniture-table p {
  padding: 0.5%;
  margin-bottom: 5px;
}

@media only screen and (min-width: 320px) and (max-width : 480px) {
  .caption-light h4 {
    font-size: 20px;
  }

  .furniture-table {
    width: 95%;
    line-height: 18px;
    font-size: 15px;
  }

  #furniture-second-screen h3 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  #furniture-second-screen h3 {
    padding: 50px 0 100px 0;
  }
}
