@import url('https://fonts.googleapis.com/css?family=Roboto');
@@import url('../fonts/Geometria.otf');

html, body, main {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    min-height: 100%;
}

.main {
    background: url(../img/foam.png) no-repeat;
}

nav {
    height: 100px;
    width: 100%;
    padding: 0 80px;
    background-image: linear-gradient(to top, rgba(33, 147, 176, 0.2), rgba(109, 213, 237, 0.2));
    font-size: 18px;
    position: absolute;
}
nav ul {
    height: inherit;
}
nav a {
    letter-spacing: 0.7px;
    text-align: center;
    color: #333333;
}

nav li {
    display: flex;
    align-items: flex-end;
}

#carouselMain {
    height: inherit;
    z-index: -1;
    max-height: 678px;
    overflow: hidden;
}

#carouselMain img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hoz-carousel-indicators {

}

.logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}

.logo img {
    width: 250px;
    height: 56px;
}

.phone {
    height: 35px;
    display: flex;
    align-items: center;
}

.phone img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

/*end main*/

/*advantages*/
.advantages {
    background: url(../img/advantages.png) 100% 100%;
    background-size: cover;
}

.advantages img {
    height: 100px;
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 4.22;
    letter-spacing: 1.4px;
    color: #ffffff;
}

.hoz-card {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #ffffff;
    background: none;
    border: none;
    text-align: center;
}

/*end advantages*/

/*stages*/

.stages  h2 {
    color: #333333;
}

.stages p {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 1px;
    text-align: left;
    color: #222222;
}

.stage-container {
    margin-bottom: 5%;
}

.stage-left, .stage-left p {
    text-align: left;
}

.stage-right, .stage-right p {
    text-align: right;
}

.stage-left, .stage-right {
    border: none;
}

.stage-left div, .stage-right  div {
    height: 80%;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(71, 70, 70, 0.8);
    padding: 10%;
}

.stage-left div {
    left: -50%;
    right: 50%;
}

.stage-right div {
    left: 50%;
    right: -50%;
}

.stage-left img, .stage-right img {
    width: 772px;
    height: 384px;
}

.hoz-card-title {
    font-size: 240px;
    line-height: 0.63;
    letter-spacing: 9.6px;
    color: rgb(227, 225, 225);
    position: relative;
    z-index: -2;
}

.stage-left .hoz-card-title {
    left: -9%;
}

.stage-right .hoz-card-title {
    right: -9%;
}

.stages .hoz-card-text {
    position: relative;
    top: -60%;
}

/* stages end */

/* vermin */

.vermin {
    background-color: #30363f;
}

.vermin img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.vermin .hoz-card-title {
    font-size: 24px;
    line-height: 6.33;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
    z-index: auto;
}

.vermin .hoz-card {
    font-family: 'Geometria';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20%;
}

.vermin .hoz-card-text {
    padding-left: 28%;
}
