@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.main {
    background: url(../img/foam.png) no-repeat;
    overflow: hidden;
    margin-bottom: -14%;
}

nav {
    height: 100px;
    padding: 0 80px;
    background-image: linear-gradient(to top, rgba(33, 147, 176, 0.2), rgba(109, 213, 237, 0.2));
    font-size: 18px;
    z-index: 2;
}
nav ul {
    height: inherit;
}
nav a {
    letter-spacing: 0.7px;
    text-align: center;
    color: #333333;
}

nav li {
    display: flex;
    align-items: flex-end;
}

#carouselMain {
    z-index: -1;
    top: -180px;

}

#carouselMain img {
    height: 766px;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}

.logo img {
    width: 250px;
    height: 56px;
}

.phone {
    height: 35px;
    display: flex;
    align-items: center;
}

.phone img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

/*end main page*/

.advantages {
    background: url(../img/advantages.png);
    height: 678px;
}

.advantages img {
    height: 100px;
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 4.22;
    letter-spacing: 1.4px;
    color: #ffffff;
}

.hoz-card {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #ffffff;
    background: none;
    border: none;
    text-align: center;
}
