.caption-light, .caption-dark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption-light h2, .caption-dark h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 4.20;
    letter-spacing: 1.4px;
}

.caption-light {
    color: #ffffff;
}

.caption-dark {
    color: #202f4a;
}

/*advantages*/
.advantages {
    background: url(../img/advantages.png) 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages img {
    height: 100px;
}

.hoz-card {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #ffffff;
    background: none;
    border: none;
    text-align: center;
}

/*end advantages*/

/*stages*/

.stages p {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 1px;
    text-align: left;
    color: #222222;
}

.stage-container {
    margin-bottom: 5%;
}

.stage-left, .stage-left p {
    text-align: left;
}

.stage-right, .stage-right p {
    text-align: right;
}

.stage-left, .stage-right {
    border: none;
}

.stage-left div, .stage-right  div {
    height: 80%;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(71, 70, 70, 0.8);
    padding: 10%;
}

.stage-left div {
    left: -50%;
    right: 50%;
}

.stage-right div {
    left: 50%;
    right: -50%;
}

.stage-left img, .stage-right img {
    width: 772px;
    height: 384px;
}

.hoz-card-title {
    font-size: 240px;
    line-height: 0.63;
    letter-spacing: 9.6px;
    color: rgb(227, 225, 225);
    position: relative;
    z-index: -2;
}

.stage-left .hoz-card-title {
    left: -9%;
}

.stage-right .hoz-card-title {
    right: -9%;
}

.stages .hoz-card-text {
    position: relative;
    top: -60%;
}

/* stages end */

/* vermin */

.vermin {
    background: url(../img/vermins.png) 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vermin img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.vermin .hoz-card-title {
    font-size: 24px;
    line-height: 6.33;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
    z-index: auto;
}

.vermin .container {
    padding-bottom: 5%;
}

.vermin .row {
    background: rgba(47, 53, 62, 0.75);
    border-radius: 10px;
}

.vermin .hoz-card {
    font-family: 'Geometria';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffffff;
}

.vermin .hoz-card-text {
    padding-left: 28%;
    padding-bottom: 10%;
}

/* end vermin */

/* portfolio */

.portfolio {
}

.portfolio .container-fluid {
    padding: 0 5% 5%;
}

.portfolio div {
    padding: 0;
}

.portfolio .row {
    padding: 0.5%;
    margin: 0.5% 0;
}

.portfolio .col-3 {
    padding: 0.5%;

}

.hoz-portfolio {
    border: 4px solid #202f4a;
    border-radius: 10px;
    height: 100%;
}

.portfolio img {
    width: 100%;
    height: 100%;
}

.portfolio p {
    text-align: center;
    font-family: 'Roboto';
    color: #202f4a;
    font-size: 3.5rem;
    margin: 0;
    line-height: 5.6;
}

/* end portfolio */

/* reviews */

.reviews {
    min-height: 850px;
}

.reviews {
    /*background-image: -webkit-linear-gradient(bottom, rgba(8, 91, 112, 0.5), rgba(151, 121, 236, 0.5));
    background-image: -o-linear-gradient(bottom, rgba(8, 91, 112, 0.5), rgba(151, 121, 236, 0.5));
    background-image: linear-gradient(to top, rgba(8, 91, 112, 0.5), rgba(151, 121, 236, 0.5));*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ce4eb+0,2989d8+100,00758f+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ce4eb+0,2989d8+100,00758f+100&1+0,0.6+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ce4eb+0,2989d8+100,00758f+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+0,9ce4eb+100&0.5+0,1+100 */
    padding: 4% 0;
    background: url(../img/reviews2.png) 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reviews-container {
    background-color: rgba(191, 207, 246, 0.75);
    border-radius: 10px;
}

.hoz-modal-dialog{
    max-width: 50%;
}

.hoz-modal-content {
    background: url(../img/cloud.png);
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

.hoz-modal-content, .hoz-modal-header, .hoz-modal-body, .hoz-modal-footer {
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    color: #0a1425;
}

.hoz-modal-header h5 {
    align-self: center;
    font-size: 24px;
}

/**/

[id^=id_rating] {
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.id_rating_0 label{
    background:url(../img/rating/happy.png);
}
.id_rating_1 label{
    background:url(../img/rating/confused.png);
}
.id_rating_2 label{
    background:url(../img/rating/sad.png);
}

[id^=id_rating]:active + label, [id^=id_rating]:active + label:hover{opacity: .9;}
[id^=id_rating]:checked + label, [id^=id_rating]:checked + label:hover{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
            cursor: text;
}

.hoz-rating label{
    cursor:pointer;
    text-indent: -9999px;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.hoz-rating label:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/**/


.hoz-modal-body input:not([id^=id_rating]), .hoz-modal-body textarea {
    background: none;
    border-radius: 10px;
    border: solid 4px #202f4a;
    width: 50%;
    padding: 5px;
}

.hoz-modal-body textarea {
    height: 140px;
}

.hoz-btn {
    width: 20%;
    border-radius: 10px;
    background-color: #202f4a;
    margin-bottom: 5%;
}

.hoz-btn:hover {
    background-color: #007F98;
    border-color: #202F4A;
}

.hoz-btn:active {
    border: none;
    box-shadow: none;
}

.row .hoz-btn {
    margin-top: 20px;
}

.hoz-form-container div {
    margin: 3% 0;
}

.hoz-close {
    margin: 0px 30px -45px auto !important;
    opacity: 1;
}

.hoz-close span {
    width: 32px;
    height: 32px;
    color: #202f4a;
    font-size: 3.5rem;
    text-shadow: none;
    opacity: 1;
}

.hoz-modal-footer button {
    position: relative;
    top: -100%;
}

.reviews .hoz-card img {
    height: 80px;
    width: 80px;
}

.reviews-row {
    min-height: 360px;
}

.reviews .hoz-card h4, .reviews .hoz-card p {
    font-family: 'Geometria';
    font-weight: 500;
    text-align: center;
    color: #333333;
}

.reviews .hoz-card h4 {
    font-size: 24px;
}

.reviews .hoz-card p {
    font-size: 16px;
}

/* end reviews */

/* request */

.request {
    position: relative;
    top: -25%;
    margin-bottom: -13%;
    background: url(../img/ffoam2.png) no-repeat, rgba(254, 254, 254, 0);
    /*background-position-y: 104%;*/
}

.hoz-caption-bigger {
    margin-bottom: 2%;
}

.hoz-form {
    width: 60%;
    border: solid 4px #202f4a;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    color: #0a1425;
    padding-top: 3rem;
}

.hoz-form input, .hoz-form textarea {
    background: none;
    border: solid 4px #202f4a;
    border-radius: 10px;
    width: 80%;
    padding: 5px;
}

.hoz-form textarea {
    height: 140px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {



}
