.caption-light, .caption-dark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption-light h2, .caption-dark h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 4.20;
    letter-spacing: 1.4px;
}

.caption-light {
    color: #ffffff;
}

.caption-dark {
    color: #202f4a;
}

/*advantages*/
.advantages {
    background: url(../img/advantages.png) 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages img {
    height: 100px;
}

.hoz-card {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #ffffff;
    background: none;
    border: none;
    text-align: center;
}

/*end advantages*/

/*stages*/

.stages p {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 1px;
    text-align: left;
    color: #222222;
}

.stage-container {
    margin-bottom: 5%;
}

.stage-left, .stage-left p {
    text-align: left;
}

.stage-right, .stage-right p {
    text-align: right;
}

.stage-left, .stage-right {
    border: none;
}

.stage-left div, .stage-right  div {
    height: 80%;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(71, 70, 70, 0.8);
    padding: 10%;
}

.stage-left div {
    left: -50%;
    right: 50%;
}

.stage-right div {
    left: 50%;
    right: -50%;
}

.stage-left img, .stage-right img {
    width: 772px;
    height: 384px;
}

.hoz-card-title {
    font-size: 240px;
    line-height: 0.63;
    letter-spacing: 9.6px;
    color: rgb(227, 225, 225);
    position: relative;
    z-index: -2;
}

.stage-left .hoz-card-title {
    left: -9%;
}

.stage-right .hoz-card-title {
    right: -9%;
}

.stages .hoz-card-text {
    position: relative;
    top: -60%;
}

/* stages end */

/* vermin */

.vermin {
    background: url(../img/vermins.png) 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vermin img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.vermin .hoz-card-title {
    font-size: 24px;
    line-height: 6.33;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
    z-index: auto;
}

.vermin .container {
    padding-bottom: 5%;
}

.vermin .row {
    background: rgba(47, 53, 62, 0.75);
    border-radius: 10px;
}

.vermin .hoz-card {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffffff;
}

.vermin .hoz-card-text {
    padding-left: 28%;
    padding-bottom: 10%;
}

/* end vermin */

/* portfolio */

.portfolio div {
    padding: 0;
}


.hoz-portfolio {
    border: 4px solid #202f4a;
    border-radius: 10px;
    height: 100%;
}

.portfolio img {
    width: 100%;
    height: 100%;
}

.portfolio p {
    text-align: center;
    font-family: 'Roboto';
    color: #202f4a;
    font-size: 3.5rem;
    margin: 0;
    line-height: 5.6;
}

.portfolio .card-title {
    height: 74px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    color: #333333;
    font-size: 32px;
    font-weight: 500;
    line-height: 2.25;
    letter-spacing: 1.3px;
    text-align: center;
}


/* end portfolio */

/* reviews */

.reviews {
    min-height: 850px;
}

.reviews {
    padding: 4% 0;
    background: url(../img/reviews2.png) 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.reviews-container {
    background-color: rgba(191, 207, 246, 0.75);
    border-radius: 10px;
}

.hoz-modal-dialog{
    max-width: 50%;
}

.hoz-modal-content {
    background: url(../img/cloud.png);
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

.hoz-modal-content, .hoz-modal-header, .hoz-modal-body, .hoz-modal-footer {
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    color: #0a1425;
}

.hoz-modal-header h5 {
    align-self: center;
    font-size: 24px;
}

/* smile */

[id^=id_rating] {
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.id_rating_0 label{
    background:url(../img/rating/happy.png);
}
.id_rating_1 label{
    background:url(../img/rating/confused.png);
}
.id_rating_2 label{
    background:url(../img/rating/sad.png);
}

[id^=id_rating]:active + label, [id^=id_rating]:active + label:hover{opacity: .9;}
[id^=id_rating]:checked + label, [id^=id_rating]:checked + label:hover{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
            cursor: text;
}

.hoz-rating label{
    cursor:pointer;
    text-indent: -9999px;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.hoz-rating label:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* end smile */


.hoz-modal-body input:not([id^=id_rating]), .hoz-modal-body textarea {
    background: none;
    border-radius: 10px;
    border: solid 4px #202f4a;
    width: 50%;
    padding: 5px;
}

.hoz-modal-body textarea {
    height: 140px;
}

.hoz-btn {
    width: 20%;
    border-radius: 10px;
    background-color: #202f4a;
    margin-bottom: 5%;
}

.hoz-btn:hover {
    background-color: #007F98;
    border-color: #202F4A;
}

.hoz-btn:active {
    border: none;
    box-shadow: none;
}

.row .hoz-btn {
    margin-top: 20px;
}

.hoz-form-container div {
    margin: 3% 0;
}

.hoz-close {
    margin: 0px 30px -45px auto !important;
    opacity: 1;
}

.hoz-close span {
    width: 32px;
    height: 32px;
    color: #202f4a;
    font-size: 3.5rem;
    text-shadow: none;
    opacity: 1;
}

.hoz-modal-footer button {
    position: relative;
    top: -100%;
}

.reviews .hoz-card img {
    height: 80px;
    width: 80px;
}

.reviews-row {
    min-height: 360px;
}

.reviews .hoz-card h4, .reviews .hoz-card p {
    font-family: 'Roboto';
    font-weight: 500;
    text-align: center;
    color: #333333;
}

.reviews .hoz-card h4 {
    font-size: 24px;
}

.reviews .hoz-card p {
    font-size: 16px;
}

/* end reviews */

/* request */

.request {
    min-height: calc(100% - 100px);
    position: relative;
    top: -25%;
    margin-bottom: -13%;
    background: url(../img/foam!.png) no-repeat;
}


.hoz-caption-bigger {
    margin-bottom: 2%;
}

.hoz-caption-bigger h2 {
    line-height: 3.2;
}

.hoz-form {
    width: 60%;
    border: solid 4px #202f4a;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    color: #0a1425;
    padding-top: 2rem;
}

.request .hoz-btn {
    margin: 0 0 2% 0;
}

.hoz-form input, .hoz-form textarea {
    background: none;
    border: solid 4px #202f4a;
    border-radius: 10px;
    width: 80%;
    padding: 5px;
}

.hoz-form textarea {
    height: 140px;
}

.advantages-mobile, .card-img-mobile, .hoz-card h3, .reviews-row-mobile {
    display: none;
}

#bubbles div {
    position: absolute;
}

#bubble1 {
    bottom: 10%;
    left: 15%;
}
#bubble2 {
    bottom: 20%;
    left: 10%;
}
#bubble3 {
    bottom: 30%;
    left: 5%;
}
#bubble4 {
    bottom: 60%;
    left: 15%;
}
#bubble5 {
    bottom: 30%;
    left: 20%
}
#bubble6 {
    bottom: 20%;
    left: 85%;
}
#bubble7 {
    bottom: 40%;
    left: 80%;
}
#bubble8 {
    bottom: 55%;
    left: 85%;
}


#bubbles img {
    height: 50px;
}
#bubble4 img {
    height: 70px;
}
#bubble3 img {
    height: 60px;
}
#bubble2 img {
    height: 90px;
}


#bubble8 img {
    height: 150px;
}

#bubble1 {
    animation: move1 1s ease-in-out infinite;
}
#bubble3 {
    animation: move2 2s ease-in-out infinite;
}
#bubble8 {
    animation: move8 5s infinite;
}
@keyframes move1 {
    0% { transform: translateY(0%); }
    50% { transform: translateY(30%); }
}
@keyframes move2 {
    0% { transform: translateY(50%) translateX(50%); }
    50% { transform: translateY(0%) translateX(0%); }
    100% { transform: translateY(50%) translateX(50%); }
}
@keyframes move8 {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(5deg) scale(1.2); }
}




@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .caption-light h2, .caption-dark h2 {
        font-size: 26px;
    }

    .advantages-mobile, .card-img-mobile, .hoz-card h3, .reviews-row-mobile {
        display: block;
    }

    .advantages-desctop, .card-img-desctop, .hoz-card-title:not(h3), .reviews-row-desctop {
        display: none;
    }

    .advantages .col {
        max-width: 50%;
    }

    .hoz-card {
        font-size: 14px;
    }

    .advantages img {
        height: 70px;
    }

    .stage-left div, .stage-right div {
        left: 0;
        right: 0;
    }

    .stages .hoz-card-text {
        top: 0;
    }

    .stage-right p, .stage-left p {
        font-size: 16px;
    }

    .stage-right p {
        text-align: left;
    }

    .card-img-mobile {
        margin: 0 auto;
    }

    .vermin .hoz-card-title {
        text-align: center;
    }

    .vermin .hoz-card-text {
        padding-left: 0;
        text-align: center;
    }

    .reviews {
        min-height: 700px;
    }

    .reviews .card-body {
        padding: 0;
    }

    .reviews-row-mobile .carousel {
        height: 320px;
    }

    .reviews-row-mobile .carousel-inner {
        height: 100%;
    }

    .reviews-row {
        min-height: 320px;
    }

    .hoz-btn {
        width: 50%;
    }

    #carousel-mobile .carousel-indicators {
        bottom: 0;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .reviews .hoz-card img {
        margin-bottom: 1.25rem;
    }

    .hoz-caption-bigger h2 {
        text-align: center;
        line-height: 1.5;
        margin-bottom: 2rem;
    }

    .request {
        background-position-y: 15%;
        background-position-x: center;
        margin-bottom: -38%;
    }

    .hoz-form {
        width: 95%;
    }

}
