.caption-light, .caption-dark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption-light h2, .caption-dark h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 4.22;
    letter-spacing: 1.4px;
}

.caption-light {
    color: #ffffff;
}

.caption-dark {
    color: #333333;
}

/*advantages*/
.advantages {
    background: url(../img/advantages.png) 100% 100%;
    background-size: cover;
}

.advantages img {
    height: 100px;
}

.hoz-card {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #ffffff;
    background: none;
    border: none;
    text-align: center;
}

/*end advantages*/

/*stages*/

.stages p {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 1px;
    text-align: left;
    color: #222222;
}

.stage-container {
    margin-bottom: 5%;
}

.stage-left, .stage-left p {
    text-align: left;
}

.stage-right, .stage-right p {
    text-align: right;
}

.stage-left, .stage-right {
    border: none;
}

.stage-left div, .stage-right  div {
    height: 80%;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(71, 70, 70, 0.8);
    padding: 10%;
}

.stage-left div {
    left: -50%;
    right: 50%;
}

.stage-right div {
    left: 50%;
    right: -50%;
}

.stage-left img, .stage-right img {
    width: 772px;
    height: 384px;
}

.hoz-card-title {
    font-size: 240px;
    line-height: 0.63;
    letter-spacing: 9.6px;
    color: rgb(227, 225, 225);
    position: relative;
    z-index: -2;
}

.stage-left .hoz-card-title {
    left: -9%;
}

.stage-right .hoz-card-title {
    right: -9%;
}

.stages .hoz-card-text {
    position: relative;
    top: -60%;
}

/* stages end */

/* vermin */

.vermin {
    background-color: #30363f;
}

.vermin img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.vermin .hoz-card-title {
    font-size: 24px;
    line-height: 6.33;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
    z-index: auto;
}

.vermin .hoz-card {
    font-family: 'Geometria';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20%;
}

.vermin .hoz-card-text {
    padding-left: 28%;
}

/* end vermin */

/* portfolio */

.portfolio div {
    padding: 0;
}

/* end portfolio */

/* reviews */

.reviews {
    background-image: -webkit-linear-gradient(bottom, rgba(8, 91, 112, 0.5), rgba(151, 121, 236, 0.5));
    background-image: -o-linear-gradient(bottom, rgba(8, 91, 112, 0.5), rgba(151, 121, 236, 0.5));
    background-image: linear-gradient(to top, rgba(8, 91, 112, 0.5), rgba(151, 121, 236, 0.5));

    padding-top: 5%;
}

.reviews .hoz-container {
    background-color: #ffffff;
}



/* end reviews */

.hoz-modal {
    background: url(../img/cloud.png);
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:cover;
}
