.mattress {
  padding-top: 100px;
  text-align: center;
  font: #333333;
}

.mattress h1 {
  padding-top: 4.2%;
  font-size: 36px;
}

.mattress p {
  padding-top: 1.5%;
  font-size: 24px;
}

.row-mattress {
  margin-top: 2.6%;
  margin-bottom: 2.1%;
}

.mattress-block {
  height: 100%;
  margin-left: 5.8%;
  border: solid 2px #131313;
  text-align: left;
  padding-left: 2.9%;
  padding-right: 4.3%;
}

#mattress-second-screen {
  height: 100%;
  background: url(../img/foam!.png);
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mattress-second-screen h2 {
  margin-top: 70px;
  margin-bottom: 75px;
  font-size: 30px;
}

.mattress-table {
  width: 70%;
  text-align: left;
  font-size: 24px;
  border: solid 4px #202f4a;
  border-collapse: unset;
  border-radius: 10px;
  padding: 1.5% 5.5% 1.5% 4.5%;
  margin-bottom: 45px;
}

.mattress-table td {
  border-top: none;
  padding: 1.3%;
}

@media screen and (max-device-width: 500px) {
  .mattress h1 {
    padding: 4.2% 5% 2% 5%;
  }

  .mattress-block  {
    width: 90%;
  }

  .block-img {
    margin-top: 20px;
    width: 306px;
    height: 172px;
  }

  .row-mattress {
    margin-top: 4%;
    margin-bottom: 2%;
  }

  .mattress p {
    padding-top: 1%;
    font-size: 17px;
  }

  #mattress-second-screen h2 {
    margin-top: 65px;
    margin-bottom: 70px;
    font-size: 20px;
  }

  .mattress-table {
    width: 95%;
    line-height: 18px;
    font-size: 15px;
    margin-bottom: 30px;
  }
}
