/* request */

.request {
    min-height: calc(100%);
    position: relative;
    background: url(../img/foam_.png) no-repeat;
}

.hoz-caption-bigger {
    margin-bottom: 5%;
}

.hoz-caption-bigger h3 {
  text-align: center;
  line-height: 3.2;
}

.hoz-reqest-form{
  margin-top: 5%;
  margin-bottom: 6%;
}

.hoz-form {
    width: 60%;
    border: solid 4px #202f4a;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    color: #0a1425;
    padding-top: 2rem;
}

.request .hoz-btn {
    margin: 0 0 2% 0;
}

.hoz-form input, .hoz-form textarea {
    background: none;
    border: solid 4px #202f4a;
    border-radius: 10px;
    width: 80%;
    padding: 5px;
}

.hoz-form textarea {
    height: 140px;
}

#bubbles div {
    position: absolute;
}

#bubble1 {
    bottom: 10%;
    left: 70%;
}

#bubble3 {
    bottom: 70%;
    left: 60%;
}

#bubble5 {
    bottom: 18%;
    left: 60%
}

#bubble8 {
    bottom: 20%;
    left: 17%;
}

#bubble9 {
    bottom: 80%;
    left: 2%;
}

#bubble10 {
    bottom: 50%;
    left: 7%;
}

#bubble11 {
    bottom: 30%;
    left: 1%;
}

#bubble13 {
    bottom: 80%;
    left: 93%;
}

#bubble-group {
    bottom: 45%;
    left: 80%;
}

#bubble1 img {
    height: 150px;
}

#bubble3 img {
    height: 80px;
}

#bubble5 img {
    height: 40px;
}

#bubble8 img {
    height: 100px;
}

#bubble9 img {
    height: 60px;
}

#bubble10 img {
    height: 130px;
}

#bubble11 img {
    height: 90px;
}

#bubble13 img {
    height: 100px;
}

#bubble-group img {
    height: 170px;
}

#bubble1, #bubble8, #bubble11 {
    animation: move1 6s ease-in-out infinite;
}

#bubble3, #bubble9, #bubble13 {
    animation: move2 4s ease-in-out infinite;
}

#bubble5, #bubble10 {
    animation: move3 5s ease-in-out infinite;
}

#bubble-group {
    animation: move-group 7s infinite;
}

@keyframes move1 {
    0% { transform: translateY(0%) scale(1); }
    50% { transform: translateY(5%) translateX(2%) scale(1.2); }
}

@keyframes move2 {
    0% { transform: translateY(0%) scale(1); }
    50% { transform: translateY(-5%) translateX(2%) scale(0.7); }
}

@keyframes move3 {
    0% { transform: translateY(-10%) translateX(3%) scale(0.9); }
    50% { transform: translateY(0%) scale(1.1); }
    100% { transform: translateY(-10%) translateX(3%) scale(0.9); }
}

@keyframes move-group {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(5deg) scale(1.2); }
}

@media only screen and (min-width: 320px) and (max-width : 480px) {
  /* request */

  .hoz-caption-bigger h2 {
      text-align: center;
      line-height: 1.5;
      margin-bottom: 2rem;
  }

  .request {
      background-position-y: 15%;
      background-position-x: center;
      margin-bottom: -38%;
  }

  .hoz-form {
      width: 95%;
  }

  #bubbles {
      display: none;
  }
}
