.price {
    padding-top: 100px;
    text-align: center;
    font: #333333;
    margin-bottom: -15px;
}

.price h1 {
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 36px;
}

.price-table {
  width: 70%;
  text-align: left;
  font-size: 24px;
  line-height: 20px;
  border: solid 4px #202f4a;
  border-radius: 10px;
  padding: 25px 5% 25px 4%;
  margin-bottom: 20px;
}

.price-table p {
  padding: 1%;
}

.price-table h2 {
  line-height: 50px;
  font-size: 32px;
}

.second-table-col {
  max-width: 25%;
}

/* request */

.request {
    min-height: calc(100%);
    position: relative;
    background: url(../img/foam_.png) no-repeat;
}

.hoz-caption-bigger {
    margin-bottom: 2%;
}

.hoz-caption-bigger h3 {
  text-align: center;
  line-height: 3.2;
}

.hoz-reqest-form{
  margin-top: 5%;
  margin-bottom: 6%;
}

.hoz-form {
    width: 60%;
    border: solid 4px #202f4a;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    color: #0a1425;
    padding-top: 2rem;
}

.request .hoz-btn {
    margin: 0 0 2% 0;
}

.hoz-form input, .hoz-form textarea {
    background: none;
    border: solid 4px #202f4a;
    border-radius: 10px;
    width: 80%;
    padding: 5px;
}

.hoz-form textarea {
    height: 140px;
}

#bubbles div {
    position: absolute;
}

#bubble1 {
    bottom: 10%;
    left: 15%;
}

#bubble2 {
    bottom: 20%;
    left: 10%;
}

#bubble3 {
    bottom: 30%;
    left: 5%;
}

#bubble4 {
    bottom: 60%;
    left: 15%;
}

#bubble5 {
    bottom: 30%;
    left: 20%
}

#bubble6 {
    bottom: 20%;
    left: 85%;
}

#bubble7 {
    bottom: 40%;
    left: 80%;
}

#bubble8 {
    bottom: 55%;
    left: 85%;
}

#bubbles img {
    height: 50px;
}

#bubble4 img {
    height: 70px;
}

#bubble3 img {
    height: 60px;
}

#bubble2 img {
    height: 90px;
}

#bubble8 img {
    height: 150px;
}

#bubble1 {
    animation: move1 1s ease-in-out infinite;
}

#bubble3 {
    animation: move2 2s ease-in-out infinite;
}

#bubble8 {
    animation: move8 5s infinite;
}

@keyframes move1 {
    0% { transform: translateY(0%); }
    50% { transform: translateY(30%); }
}

@keyframes move2 {
    0% { transform: translateY(50%) translateX(50%); }
    50% { transform: translateY(0%) translateX(0%); }
    100% { transform: translateY(50%) translateX(50%); }
}

@keyframes move8 {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(5deg) scale(1.2); }
}

@media only screen and (min-device-width: 320px) and (max-device-width : 480px) {
  .price-table {
    width: 85%;
    line-height: 18px;
    font-size: 15px;
  }

  .price-table h3 {
    line-height: 21px;
    font-size: 22px;
    padding: 1.5%;
  }

  .second-table-col {
    max-width: 35%;
  }

  /* request */

  .hoz-caption-bigger h2 {
      text-align: center;
      line-height: 1.5;
      margin-bottom: 2rem;
  }

  .request {
      background-position-y: 15%;
      background-position-x: center;
      margin-bottom: -38%;
  }

  .hoz-form {
      width: 95%;
  }

  #bubbles {
      display: none;
  }
}
