.reviews {
    min-height: 850px;
}

.reviews {
    padding: 100px 0;
}


.reviews-container {

}

.hoz-modal-dialog{
    max-width: 50%;
}

.hoz-modal-content {
    background: url(../img/cloud.png);
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

.hoz-modal-content, .hoz-modal-header, .hoz-modal-body, .hoz-modal-footer {
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    color: #0a1425;
}

.hoz-modal-header h5 {
    align-self: center;
    font-size: 24px;
}

/* smile */

[id^=id_rating] {
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.id_rating_0 label{
    background:url(../img/rating/happy.png);
}
.id_rating_1 label{
    background:url(../img/rating/confused.png);
}
.id_rating_2 label{
    background:url(../img/rating/sad.png);
}

[id^=id_rating]:active + label, [id^=id_rating]:active + label:hover{opacity: .9;}
[id^=id_rating]:checked + label, [id^=id_rating]:checked + label:hover{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
            cursor: text;
}

.hoz-rating label{
    cursor:pointer;
    text-indent: -9999px;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.hoz-rating label:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* end smile */


.hoz-modal-body input:not([id^=id_rating]), .hoz-modal-body textarea {
    background: none;
    border-radius: 10px;
    border: solid 4px #202f4a;
    width: 50%;
    padding: 5px;
}

.hoz-modal-body textarea {
    height: 140px;
}

.hoz-btn {
    width: 20%;
    border-radius: 10px;
    background-color: #202f4a;
    margin-bottom: 5%;
}

.hoz-btn:hover {
    background-color: #007F98;
    border-color: #202F4A;
}

.hoz-btn:active {
    border: none;
    box-shadow: none;
}

.row .hoz-btn {
    margin-top: 20px;
}

.hoz-form-container div {
    margin: 3% 0;
}

.hoz-close {
    margin: 0px 30px -45px auto !important;
    opacity: 1;
}

.hoz-close span {
    width: 32px;
    height: 32px;
    color: #202f4a;
    font-size: 3.5rem;
    text-shadow: none;
    opacity: 1;
}

.hoz-modal-footer button {
    position: relative;
    top: -100%;
}

.reviews .hoz-card img {
    height: 80px;
    width: 80px;
}

.reviews-row {
    min-height: 360px;
}

.reviews .hoz-card h4, .reviews .hoz-card p {
    font-family: 'Roboto';
    font-weight: 500;
    text-align: center;
    color: #333333;
}

.reviews .hoz-card h4 {
    font-size: 24px;
}

.reviews .hoz-card p {
    font-size: 16px;
}

.hoz-card {
    border: none;
}

.caption-light, .caption-dark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption-dark h1, .caption-dark h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 4.20;
    letter-spacing: 1.4px;
}

.caption-light {
    color: #ffffff;
}

.caption-dark {
    color: #202f4a;
}
.caption-dark img {
    height: 50px;
    margin-bottom: 8px;
}

.reviews-container p {
    padding: 0 10%;
    text-align: center;
}

.reviews-row-mobile {
    display: none;
}


@media only screen and (min-width : 320px) and (max-width : 480px) {

    .caption-light h3, .caption-dark h3 {
        font-size: 26px;
    }

    .reviews-row-mobile {
        display: block;
    }

    .reviews-row-desctop {
        display: none;
    }

}
